---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/categories/7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1440b637e16439a5b45ce6fe82e0a63d"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '958'
    body:
      encoding: UTF-8
      string: '{"id":7,"title":"Technology","photo_count":318,"links":{"self":"http://api.lvh.me:3000/categories/7","photos":"http://api.lvh.me:3000/categories/7/photos"}}'
  recorded_at: Mon, 22 Jun 2015 19:49:19 GMT
- request:
    method: get
    uri: http://api.lvh.me:3000/categories/7/photos?page=1&per_page=13
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Link:
      - <http://api.lvh.me:3000/categories/7/photos?page=25&per_page=13>; rel="last",
        <http://api.lvh.me:3000/categories/7/photos?page=2&per_page=13>; rel="next"
      X-Total:
      - '318'
      X-Per-Page:
      - '13'
      Content-Type:
      - application/json
      Etag:
      - W/"e3f0e015124da13f7723920aa1a979f8"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '957'
    body:
      encoding: UTF-8
      string: '[{"id":"CvRwC5XEjg4","urls":{"regular":"https://unsplash.imgix.net/photo-1433087258159-9f5f78fc3eac?q=75\u0026fm=jpg\u0026w=1080\u0026fit=max\u0026s=7f51e6c8b38dc0bc2e8812544872c8a9","small":"https://unsplash.imgix.net/photo-1433087258159-9f5f78fc3eac?q=75\u0026fm=jpg\u0026w=400\u0026fit=max\u0026s=9bd99ef4d0e50131c196f7dc7e07908d","thumb":"https://unsplash.imgix.net/photo-1433087258159-9f5f78fc3eac?q=75\u0026fm=jpg\u0026w=200\u0026fit=max\u0026s=72e484ac60327ec61cf4ddea78378d8d"},"links":{"self":"http://api.lvh.me:3000/photos/CvRwC5XEjg4","html":"http://lvh.me:3000/photos/CvRwC5XEjg4","download":"http://lvh.me:3000/photos/CvRwC5XEjg4/download"}},{"id":"UhynWSzZEEs","urls":{"regular":"https://ununsplash.imgix.net/photo-1433023396640-673394a1faa8?q=75\u0026fm=jpg\u0026w=1080\u0026fit=max\u0026s=bdd50866b011a977b2d9b36c5d4f3430","small":"https://ununsplash.imgix.net/photo-1433023396640-673394a1faa8?q=75\u0026fm=jpg\u0026w=400\u0026fit=max\u0026s=fa71c65e9dacd90d71b940d071192039","thumb":"https://ununsplash.imgix.net/photo-1433023396640-673394a1faa8?q=75\u0026fm=jpg\u0026w=200\u0026fit=max\[...]
- request:
    method: get
    uri: http://api.lvh.me:3000/categories/42
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 404
      message: 'Not Found '
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '956'
    body:
      encoding: UTF-8
      string: '{"errors":["Couldn''t find Category with ''id''=42"]}'
  recorded_at: Mon, 22 Jun 2015 19:49:19 GMT
- request:
    method: get
    uri: http://api.lvh.me:3000/categories/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7abb77934d680da3ca26cbfc0fe54c3c"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '955'
 [...]
