---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/categories/7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      Warning:
      - 'Category endpoints are deprecated. Use Collections instead. See: https://unsplash.com/documentation#collections'
      Surrogate-Control:
      - max-age=7200, stale-if-error=86400
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '12'
    body:
      encoding: UTF-8
      string: '{"id":7,"title":"Technology","photo_count":1407,"links":{"self":"http://api.lvh.me:3000/categories/7","photos":"http://api.lvh.me:3000/categories/7/photos"}}'
  recorded_at: Fri, 08 Dec 2017 18:27:44 GMT
- request:
    method: get
    uri: http://api.lvh.me:3000/categories/7/photos?page=1&per_page=13
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      Warning:
      - 'Category endpoints are deprecated. Use Collections instead. See: https://unsplash.com/documentation#collections'
      Surrogate-Control:
      - max-age=300, stale-if-error=86400
      Link:
      - <http://api.lvh.me:3000/categories/7/photos?page=93&per_page=13>; rel="last",
        <http://api.lvh.me:3000/categories/7/photos?page=2&per_page=13>; rel="next"
      X-Total:
      - '1198'
      X-Per-Page:
      - '13'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '11'
    body:
      encoding: UTF-8
      string: '[{"id":"oCbrjDECdK0","created_at":"2016-08-14T07:40:54-04:00","updated_at":"2017-08-08T10:57:57-04:00","width":3824,"height":3064,"color":"#EEE2DB","likes":43,"liked_by_user":false,"description":null,"user":{"id":"wpPybVWRH5A","updated_at":"2017-08-10T16:48:58-04:00","username":"ultralinx","name":"Oliur
        Rahman","first_name":"Oliur","last_name":"Rahman","twitter_username":"ultralinx","portfolio_url":"http://oliur.com","bio":"I''m
        a designer and entrepreneur who enjoys taking pictures in my free time.","location":"United
        Kingdom","total_likes":0,"total_photos":17,"total_collections":0,"profile_image":{"small":"https://images.unsplash.com/profile-1469963995475-273f3742cda7?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32&s=7c661ead6e674f4b453fb13ad5968b31","medium":"https://images.unsplash.com/profile-1469963995475-273f3742cda7?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64&s=c995b27989309541e4ebc53452a9086c","large":"https://images.unsplash.com/profile-1469963995475-273f3742cda7?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128&s=0955f4e2ab31fe98fa04e8eab788d232"},"links":{"self":"http://api.localhost:3000/users/ultralinx","html":"http://lvh.me:3000/@ultralinx","photos":"http://api.localhost:3000/users/ultralinx/photos","likes":"http://api.localhost:3000/users/ultralinx/likes","portfolio":"http://api.localhost:3000/users/ultralinx/portfolio","following":"http://api.localhost:3000/users/ultralinx/following","followers":"http://api.localhost:3000/users/ultralinx/followers"}},"current_user_collections":[],"urls":{"raw":"https://images.unsplash.com/photo-1471174826377-f3da3bd635e4","full":"https://images.unsplash.com/photo-1471174826377-f3da3bd635e4?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&s=2b803f28ca67b2563ebbb4119a6bd5b0","regular":"https://images.unsplash.com/photo-1471174826377-f3da3bd635e4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=d13aff73ebd7381986f63661be62347b","small":"https://images.unsplash.com/photo-1471174826377-f3da3bd635e4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&s=b7902c825644e56bfa4f66eed067fe4e","thumb":"https://images.unsplash.com/photo-1471174826377-f3da3bd635e4?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=d6c02ab86260199bb4e22797c896889e"},"categories":[],"links":{"self":"http://api.localhost:3000/photos/oCbrjDECdK0","html":"http://lvh.me:3000/photos/oCbrjDECdK0","download":"http://lvh.me:3000/photos/oCbrjDECdK0/download","download_location":"http://api.localhost:3000/photos/oCbrjDECdK0/download"}},{"id":"sjA1cUah57c","created_at":"2016-08-14T07:36:26-04:00","updated_at":"2017-07-18T17:34:56-04:00","width":4592,"height":3064,"color":"#1F1E23","likes":41,"liked_by_user":false,"description":null,"user":{"id":"wpPybVWRH5A","updated_at":"2017-08-10T16:48:58-04:00","username":"ultralinx","name":"Oliur
        Rahman","first_name":"Oliur","last_name":"Rahman","twitter_username":"ultralinx","portfolio_url":"http://oliur.com","bio":"I''m
  [...]
- request:
    method: get
    uri: http://api.lvh.me:3000/categories/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      Warning:
      - 'Category endpoints are deprecated. Use Collections instead. See: https://unsplash.com/documentation#collections'
      Surrogate-Control:
      - max-age=7200, stale[...]
- request:
    method: get
    uri: http://api.lvh.me:3000/categories/42
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '9'
    body:
      encoding: UTF-8
      string: '{"errors":["Couldn''t find Category with ''id''=42"],"trace":["/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/activerecord-4.2.7.1/lib/active_record/relation/finder_methods.rb:324:in
        `raise_record_not_found_exception!''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/activerecord-4.2.7.1/lib/active_record/relation/finder_methods.rb:444:in
        `find_one''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/activerecord-4.2.7.1/lib/active_record/relation/finder_methods.rb:423:in
        `find_with_ids''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/activerecord-4.2.7.1/lib/active_record/relation/finder_methods.rb:71:in
        `find''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/activerecord-4.2.7.1/lib/active_record/querying.rb:3:in
        `find''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/activerecord-4.2.7.1/lib/active_record/core.rb:131:in
        `find''","/Users/aaron/source/unsplash/unsplash-api/app/api/unsplash_api/v1/categories.rb:28:in
        `block (3 levels) in <class:Categories>''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/grape-0.19.2/lib/grape/endpoint.rb:59:in
        `call''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/grape-0.19.2/lib/grape/endpoint.rb:59:in
        `block (2 levels) in generate_api_method''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/activesupport-4.2.7.1/lib/active_support/notifications.rb:166:in
        `instrument''"]}'
  recorded_at: Fri, 08 Dec 2017 18:27:45 GMT
recorded_with: VCR 3.0.3
