---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/collections/201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d5d32fd7f45a292e2bc4a08125330024"
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Miniprofiler-Ids:
      - '["85qlnh0mnvecgq0q3glt","w9ijlts0ho1zswwwsjbn","qk5n3yagrfu4nh2qyt7y"]'
    body:
      encoding: UTF-8
      string: '{"id":201,"title":"Explore Iceland","published_at":"2015-12-30T16:56:29-05:00","curated":false,"cover_photo":{"id":"uO4Au3LrCtk","width":3000,"height":2000,"color":"#565B63","likes":0,"liked_by_user":false,"user":{"id":"46rKBE69V4I","username":"andersjilden","name":"Anders
        Jildén","profile_image":{"small":"https://images.unsplash.com/profile-1444219778067-a301067fdc5e?ixlib=rb-0.3.5\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026fit=crop\u0026h=32\u0026w=32\u0026s=d78a65a5e29c45cdb790895d0587bafe","medium":"https://images.unsplash.com/profile-1444219778067-a301067fdc5e?ixlib=rb-0.3.5\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026fit=crop\u0026h=64\u0026w=64\u0026s=e041071e984375a0f2ed01d340a3aa00","large":"https://images.unsplash.com/profile-1444219778067-a301067fdc5e?ixlib=rb-0.3.5\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026fit=crop\u0026h=128\u0026w=128\u0026s=8c6a75b3379366defac8399dc8f30221"},"links":{"self":"http://api.lvh.me:3000/users/andersjilden","html":"http://lvh.me:3000/andersjilden","photos":"http://api.lvh.me:3000/users/andersjilden/photos","likes":"http://api.lvh.me:3000/users/andersjilden/likes"}},"urls":{"raw":"https://images.unsplash.com/photo-1445503058969-7ae8721cd8c1","full":"https://images.unsplash.com/photo-1445503058969-7ae8721cd8c1?ixlib=rb-0.3.5\u0026q=80\u0026fm=jpg\u0026crop=entropy\u0026s=75f81eef4dddc6d740a6903e0bef4dab","regular":"https://images.unsplash.com/photo-1445503058969-7ae8721cd8c1?ixlib=rb-0.3.5\u0026q=80\u0026fm=jpg\u0026crop=entropy\u0026w=1080\u0026fit=max\u0026s=7e069062d4af1ffc5f5a80107cf4302b","small":"https://images.unsplash.com/photo-1445503058969-7ae8721cd8c1?ixlib=rb-0.3.5\u0026q=80\u0026fm=jpg\u0026crop=entropy\u0026w=400\u0026fit=max\u0026s=ed45724e0b45053f46eccf9f6927cbd5","thumb":"https://images.unsplash.com/photo-1445503058969-7ae8721cd8c1?ixlib=rb-0.3.5\u0026q=80\u0026fm=jpg\u0026crop=entropy\u0026w=200\u0026fit=max\u0026s=40cf57127d49d8114fbc8bb22254a3ce"},"categories":[{"id":4,"title":"Nature","photo_count":31454,"links":{"self":"http://api.lvh.me:3000/categories/4","photos":"http://api.lvh.me:3000/categories/4/photos"}}],"links":{"self":"http://api.lvh.me:3000/photos/uO4Au3LrCtk","html":"http://lvh.me:3000/photos/uO4Au3LrCtk","download":"http://lvh.me:3000/photos/uO4Au3LrCtk/download"}},"user":{"id":"QV5S1rtoUJ0","username":"unsplash","name":"Unsplash","bio":"Make
        something awesome.","profile_image":{"small":"https://images.unsplash.com/profile-1441945026710-480e4372a5b5?ixlib=rb-0.3.5\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026fit=crop\u0026h=32\u0026w=32\u0026s=15dd677c95172edff29e9b7a3be052c1","medium":"https://images.unsplash.com/profile-1441945026710-480e4372a5b5?ixlib=rb-0.3.5\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026fit=crop\u0026h=64\u0026w=64\u0026s=7ae2265df9881ef927465a3215b4de94","large":"https://images.unsplash.com/profile-1441945026710-480e4372a5b5?ixlib=rb-0.3.5\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026fit=crop\u0026h=128\u0026w=128\u0026s=96b07acf064bb8ba33e257c9391b440a"},"links":{"self":"http://api.lvh.me:3000/users/unsplash","html":"http://lvh.me:3000/unsplash","photos":"http://api.lvh.me:3000/users/unsplash/photos","likes":"http://api.lvh.me:3000/users/unsplash/likes"}},"links":{"self":"http://api.lvh.me:3000/collections/201","html":"http://lvh.me:3000/collections/201","photos":"http://api.lvh.me:3000/collections/201/photos"}}'
  recorded_at: Mon, 11 Apr 2016 17:54:49 GMT
- request:
    method: get
    uri: http://api.lvh.me:3000/collections/1234
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '97'
    body:
      encoding: UTF-8
      string: '{"errors":["Couldn''t find Collection with ''id''=1234"]}'
  recorded_at: Mon, 11 Apr 2016 17:54:49 GMT
- request:
    method: get
    uri: http://api.lvh.me:3000/collections/curated/90
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"1b3f15d8d23522a7fe60c2316b4b85dc"
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - [...]
- request:
    method: post
    uri: http://api.lvh.me:3000/collections
    body:
      encoding: UTF-8
      string: description=&private=true&title=Ultimate+Faves
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Bearer 69cca388c56e64fc2ee1c9f7cfb0dcec1bf1b384957b61c9ec6764777b98554e
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"16796d23e28efadec93347e92f14f57e"
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19998'
    body:
      encoding: UTF-8
      string: '{"id":303,"tit[...]
- request:
    method: get
    uri: http://api.lvh.me:3000/collections/?page=1&per_page=12
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Per-Page:
      - '12'
      X-Total:
      - '171'
      Link:
      - <https://api.lvh.me:3000/collections?page=15>; rel="last", <https://api.lvh.me:3000/collections?page=2>;
        rel="next"
      Content-Type:
      - application/json
      Etag:
      - W/"4299e6bcbfc9079bd923ed8c7a65f530"
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '95'
      X-Miniprofiler-Ids:
      - '["octtj3krbfgrd8psq49l","w9ijlts0ho1zswwwsjbn","qk5n3yagrfu4nh2qyt7y","85qlnh0mnvecgq0q3glt","6bft8drbszv0dh2im3gw","nb5r34dxshpkwsmztn4j","jdy4dropd[...]
- request:
    method: get
    uri: http://api.lvh.me:3000/collections/201/photos?page=1&per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://api.lvh.me:3000/collections/201/photos?page=3>; rel="last", <http://api.lvh.me:3000/collections/201/photos?page=2>;
        rel="ne[...]
- request:
    method: post
    uri: http://api.lvh.me:3000/collections?description=&private=true&title=Ultimate%20Faves
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
    body:
      encoding: UTF-8
      string: '{"errors":["OAuth error: The access token is invalid"]}'
  recorded_at: Mon, 11 Apr 2016 18:00:17 GMT
[...]
- request:
    method: put
    uri: http://api.lvh.me:3000/collections/303?title=Best%20Picturez
    body:
      encoding: UTF-8
      string: ''
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Bearer 69cca388c56e64fc2ee1c9f7cfb0dcec1bf1b384957b61c9ec6764777b98554e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ed4d2150d9034a9436963907ed0134f4"
      X-Ratelimit-Limit:
      - '[...]
- request:
    method: put
    uri: http://api.lvh.me:3000/collections/303?title=Penultimate%20Faves
    body:
      encoding: UTF-8
      string: ''
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Bearer 69cca388c56e64fc2ee1c9f7cfb0dcec1bf1b384957b61c9ec6764777b98554e
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"822ec95c9a59e758eb349a34d7c8a36b"
      X-Ratelimit-Limit:
     [...]
[...]
- request:
    method: post
    uri: http://api.lvh.me:3000/collections/301/add
    body:
      encoding: UTF-8
      string: photo_id=tAKXap853rY
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Bearer 69cca388c56e64fc2ee1c9f7cfb0dcec1bf1b384957b61c9ec6764777b98554e
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"a87aa39fdd2648374d3b938b149f034e"
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19975'
    body:
      encoding: UTF-8
      string: '{"photo":{"id":"tAKXap853rY","width":5616,"height":3744,"color":"#755D47","likes":0,"liked_by_user":false,"user":{"id":"pXhwzz1JtQU","username":"alejandroescamilla","name":"Alejandro
        Escamilla","profile_image":{"small":"https://images.unsplash.com/profile-1441298310363-3eb4b1feb829?ixlib=rb-0.3.5\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026fit=crop\u0026h=32\u0026w=32\u0026s=20e9b4d0ac58d55bb5cd10b3e4520be8","medium":"https://images.unsplash.com/profile-1441298310363-3eb4b1feb829?ixlib=rb-0.3.5\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026fit=crop\u0026h=64\u0026w=64\u0026s=5031ed654abd143bc0b2c46554866d1b","large":"https://images.unsplash.com/profile-1441298310363-3eb4b1feb829?ixlib=rb-0.3.5\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026fit=crop\u0026h=128\u0026w=128\u0026s=4205806fe5b35126724a0425500e4f99"},"links":{"self":"http://api.lvh.me:3000/users/alejandroescamilla","html":"http://lvh.me:3000/alejandroescamilla","photos":"http://api.lvh.me:3000/users/alejandroescamilla/photos","likes":"http://api.lvh.me:3000/users/alejandroescamilla/likes"}},"current_user_collections":[{"id":301,"title":"Ultimate
        Faves","published_at":"2016-04-11T12:51:17-04:00","curated":false,"cover_photo":{"id":"tAKXap853rY","width":5616,"height":3744,"color":"#755D47","likes":0,"liked_by_user":false,"user":{"id":"pXhwzz1JtQU","username":"alejandroescamilla","name":"Alejandro
        Escamilla","profile_image":{"small":"https://images.unsplash.com/profile-1441298310363-3eb4b1feb829?ixlib=rb-0.3.5\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026fit=crop\u0026h=32\u0026w=32\u0026s=20e9b4d[...]
- request:
    method: delete
    uri: http://api.lvh.me:3000/collections/301/remove?photo_id=tAKXap853rY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Bearer 69cca388c56e64fc2ee1c9f7cfb0dcec1bf1b384957b61c9ec6764777b98554e
  response:
    status:
      code: 204
      message: No Content
    headers:
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19974'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 11 Apr 2016 20:41:21 GMT
- request:
    method: get
    uri: http://api.lvh.me:3000/search/collections?page=1&query=explore
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d5d32fd7f45a292e2bc4a08125330024"
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Miniprofiler-Ids:
      - '["85qlnh0mnvecgq0q3glt","w9ijlts0ho1zswwwsjbn","qk5n3yagrfu4nh2qyt7y"]'
    body:
      encoding: UTF-8
      string: '{"total":1,"total_pages":1,"results":[{"id":201,"title":"Explore Iceland","published_at":"2015-12-30T16:56:29-05:00","curated":false,"cover_photo":{"id":"uO4Au3LrCtk","width":3000,"height":2000,"color":"#565B63","likes":0,"liked_by_user":false,"user":{"id":"46rKBE69V4I","username":"andersjilden","name":"Anders
        Jildén","profile_image":{"small":"https://images.unsplash.com/profile-1444219778067-a301067fdc5e?ixlib=rb-0.3.5\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026fit=crop\u0026h=32\u0026w=32\u0026s=d78a65a5e29c45cdb790895d05[...]
- request:
    method: get
    uri: http://api.lvh.me:3000/search/collections?page=1&query=veryveryspecific
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"d5d32fd7f45a292e2bc4a08125330024"
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '98'
      X-Miniprofiler-Ids:
      - '["85qlnh0mnvecgq0q3glt","w9ijlts0ho1zswwwsjbn","qk5n3yagrfu4nh2qyt7y"]'
    body:
      encoding: UTF-8
      string: '{"total":1,"total_pages":1,"results":[]}'
  recorded_at: Mon, 11 Apr 2016 17:54:49 GMT
recorded_with: VCR 2.9.3
