---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/collections/301
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Bearer 69cca388c56e64fc2ee1c9f7cfb0dcec1bf1b384957b61c9ec6764777b98554e
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - max-age=300, stale-if-error=86400
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9865'
    body:
      encoding: UTF-8
      string: '{"id":301,"title":"People","description":null,"published_at":"2016-01-28T09:16:41-05:00","updated_at":"2017-12-08T15:42:42-05:00","curated":false,"featured":false,"total_photos":16,"private":false,"share_key":"84e4febeb7f4d6f732547b50f80945bd","tags":[],"cover_photo":{"id":"tAKXap853rY","created_at":"2013-05-27T09:57:48-04:00","updated_at":"2017-08-10T05:15:42-04:00","width":5616,"height":3744,"color":"#755D47","likes":412,"liked_by_user":false,"description":null,"user":{"id":"pXhwzz1JtQU","updated_at":"2017-08-10T16:50:28-04:00","username":"alejandroescamilla","name":"Alejandro
        Escamilla","first_name":"Alejandro","last_name":"Escamilla","twitter_username":null,"portfolio_url":"http://alejandroescamilla.com/","bio":null,"location":null,"total_likes":0,"total_photos":17,"total_collections":0,"profile_image":{"small":"https://images.unsplash.com/profile-1441298310363-3eb4b1feb829?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32&s=58632e7fb4853e71741b8a6772d6e2cb","medium":"https://images.unsplash.com/profile-1441298310363-3eb4b1feb829?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64&s=4ddd6656ddd74206872f45c033371087","large":"https://images.unsplash.com/profile-1441298310363-3eb4b1feb829?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128&s=b99f94725bf15139aa11b8389c53462c"},"links":{"self":"http://api.lvh.me:3000/users/alejandroescamilla","html":"http://lvh.me:3000/@alejandroescamilla","photos":"http://api.lvh.me:3000/users/alejandroescamilla/photos","likes":"http://api.lvh.me:3000/users/alejandroescamilla/likes","portfolio":"http://api.lvh.me:3000/users/alejandroescamilla/portfolio","following":"http://api.lvh.me:3000/users/alejandroescamilla/following","followers":"http://api.lvh.me:3000/users/alejandroescamilla/followers"}},"urls":{"raw":"https://images.unsplash.com/1/macbook-air-all-faded-and-stuff.jpg","full":"https://images.unsplash.com/1/macbook-air-all-faded-and-stuff.jpg?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&s=f33f08b334c34ffe513f1a0fdf72bb71","regular":"https://images.unsplash.com/1/macbook-air-all-faded-and-stuff.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=f3722a4fc0d9f102512b5da82fb4d06d","small":"https://images.unsplash.com/1/macbook-air-all-faded-and-stuff.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&s=5f6843b66a7ff8c5964b4e4e17ab26b0","thumb":"https://images.unsplash.com/1/macbook-air-all-faded-and-stuff.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=8fb3b418c0971fcc0cb28af056d66f88"},"categories":[],"links":{"self":"http://api.lvh.me:3000/photos/tAKXap853rY","html":"http://lvh.me:3000/photos/tAKXap853rY","download":"http://lvh.me:3000/photos/tAKXap853rY/download","download_location":"http://api.lvh.me:3000/photos/tAKXap853rY/download"}},"preview_photos":[{"id":5,"urls":{"raw":"https://images.unsplash.com/1/macbook-air-all-faded-and-stuff.jpg","full":"https://images.unsplash.com/1/macbook-air-all-faded-and-stuff.jpg?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&s=f33f08b334c34ffe513f1a0fdf72bb71","regular":"https://images.unsplash.com/1/macbook-air-all-faded-and-stuff.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=f3722a4fc0d9f102512b5da82fb4d06d","small":"https://images.unsplash.com/1/macbook-air-all-faded-and-stuff.[...]
- request:
    method: post
    uri: http://api.lvh.me:3000/collections/301/add
    body:
      encoding: UTF-8
      string: photo_id=tAKXap853rY
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Bearer 69cca388c56e64fc2ee1c9f7cfb0dcec1bf1b384957b61c9ec6764777b98554e
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Surrogate-Control:
      - max-age=300, stale-if-error=86400
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9864'
    body:
      encoding: UTF-8
      string: '{"photo":{"id":"tAKXap853rY","created_at":"2013-05-27T09:57:48-04:00","updated_at":"2017-08-10T05:15:42-04:00","width":5616,"height":3744,"color":"#755D47","likes":412,"liked_by_user":true,"description":null,"user":{"id":"pXhwzz1JtQU","updated_at":"2017-08-10T16:50:28-04:00","username":"alejandroescamilla","name":"Alejandro
        Escamilla","first_name":"Alejandro","last_name":"Escamilla","twitter_username":null,"portfolio_url":"http://alejandroescamilla.com/","bio":null,"location":null,"total_likes":0[...]
[...]
- request:
    method: get
    uri: http://api.lvh.me:3000/collections/201/photos?page=1&per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://api.lvh.me:3000/collections/201/photos?page=24&per_page=10>; rel="last",
        <http://api.lvh.me:3000/collections/201/photos?page=2&per_page=10>; rel="next"
      X-Total:
      - '237'
      X-Per-Page:
      - '10'
      Surrogate-Control:
      - max-age=900, stale-if-error=86400
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9862'
    body:
      encoding: UTF-8
      string: "[{\"id\":\"eZhSAQbPrR0\",\"created_at\":\"2017-08-08T02:12:26-04:00\",\"updated_at\":\"2017-08-10T16:24:13-04:00\",\"width\":2733,\"height\":4096,\"color\":\"#E4E6E8\",\"likes\":148,\"liked_by_user\":false,\"description\":null,\"user\":{\"id\[...]
- request:
    method: get
    uri: http://api.lvh.me:3000/collections/?page=1&per_page=12
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://api.lvh.me:3000/collections?page=13203&per_page=12>; rel="last", <http://api.lvh.me:3000/collections?page=2&per_page=12>;
        rel="next"
      X-Total:
      - '158428'
      X-Per-Page:
      - '12'
      Surrogate-Control:
      - max-age=3600, stale-if-error=86400
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9861'
    body:
      encoding: UTF-8
      string: '[{"id":1082903,"title":"Best Picturez","description":null,"published_at":"2017-12-08T15:37:40-05:00","updated_at":"2017-12-08T15:37:43-05:00","curated":false,"featured":false,"total_photos":0,"private":false,"share_key":"cdd76c95d4c0d78d2656e014747b701a","tags":[],"cover_photo":null,"preview_photos":[],"user":{"id":"OuzxrCITLj8","updated_at":"2017-12-08T13:45:17-05:00","username":"aarondev","name":"Aaron
        Jangly","first_name":"Aaron","last_name":"Jangly","twitter_username":"devdontlook","portfolio_url":"http://www.outerspacehero.com/","bio":"Buildin''
        Unsplash.","location":"Winnipeg","followed_by_user":false,"total_likes":1,"total_photos":0,"total_collections":6,"profile_image":{"small":"https://images.unsplash.com/profile-1444840959767-6286d046f7f2?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32&s=22f6c0eb41fdde56243490f28ec4fd83","medium":"https://images.unsplash.com/profile-1444840959767-6286d046f7f2?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64&s=eb8099ecbd4604898d124fca2294ad89","large":"https://images.unsplash.com/profile-1444840959767-6286d046f7f2?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128&s=62302f77a88e7ee259c72a38323709c1"},"links":{"self":"http://api.lvh.me:3000/users/aarondev","html":"http://lvh.me:3000/@aarondev","photos":"http://api.lvh.me:3000/users/aarondev/photos","likes":"http://api.lvh.me:3000/users/aarondev/likes","portfolio":"http://api.lvh.me:3000/users/aarondev/portfolio","following":"http://api.lvh.me:3000/users/aarondev/following","followers":"http://api.lvh.me:3000/users/aarondev/followers"}},"links":{"self":"http://api.lvh.me:3000/collections/1082903","html":"http://lvh.me:3000/collections/1082903/best-picturez","photos":"http://api.lvh.me:3000/collections/1082903/photos","related":"http://api.lvh.me:3000/collections/1082903/related"}},{"id":1082902,"title":"Best
        Picturez","description":null,"published_at":"2017-12-08T13:27:28-05:00","updated_at":"2017-12-08T13:27:28-05:00","curated":false,"featured":false,"total_photos":0,"private":false,"share_key":"ece3650612d3127b18c4bd707c039445","tags":[],"cover_photo":null,"preview_photos":[],"user":{"id":"OuzxrCITLj8","updated_at":"2017-12-08T13:45:17-05:00","username":"aarondev","name":"Aaron
        Jangly","first_name":"[...]
- request:
    method: delete
    uri: http://api.lvh.me:3000/collections/201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Bearer 69cca388c56e64fc2ee1c9f7cfb0dcec1bf1b384957b61c9ec6764777b98554e
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9860'
    body:
      encoding: UTF-8
      string: '{"errors":["Couldn''t find Collection with ''id''=201"],"trace":["/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/activerecord-4.2.7.1/lib/active_record/relation/finder_methods.rb:324:in
        `raise_record_not_found_exception!''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/activerecord-4.2.7.1/lib/active_record/relation/finder_methods.rb:444:in
        `find_one''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/activerecord-4.2.7.1/lib/active_record/relation/finder_methods.rb:423:in
        `find_with_ids''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/activerecord-4.2.7.1/lib/active_record/relation/finder_methods.rb:71:in
        `find''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/activerecord-4.2.7.1/lib/active_record/associations/collection_association.rb:99:in
        `find''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/activerecord-4.2.7.1/lib/active_record/associations/collection_proxy.rb:141:in
        `find''","/Users/aaron/source/unsplash/unsplash-api/app/api/unsplash_api/v1/collections.rb:262:in
        `block (3 levels) in <class:Collections>''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/grape-0.19.2/lib/grape/endpoint.rb:59:in
        `call''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/grape-0.19.2/lib/grape/endpoint.rb:59:in
        `block (2 levels) in generate_api_method''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/activesupport-4.2.7.1/lib/active_support/notifications.rb:166:in
        `instrument''"]}'
  recorded_at: Fri, 08 Dec 2017 20:42:56 GMT
[...]
- request:
    method: get
    uri: http://api.lvh.me:3000/search/collections?page=1&per_page=10&query=veryveryspecific
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Total:
      - '0'
      X-Per-Page:
      - '10'
      Surrogate-Control:
      - max-age=86400, stale-if-error=86400
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9857'
    body:
      encoding: UTF-8
      string: '{"total":0,"total_pages":0,"results":[]}'
  recorded_at: Fri, 08 Dec 2017 20:42:57 GMT
- request:
    method: get
    uri: http://api.lvh.me:3000/search/collections?page=1&per_page=10&query=explore
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://api.lvh.me:3000/search/collections?page=33&per_page=10&query=explore>;
        rel="last", <http://api.lvh.me:3000/search[...]
[...]
- request:
    method: get
    uri: http://api.lvh.me:3000/collections/featured?page=1&per_page=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://api.lvh.me:3000/collections/featured?page=336&per_page=3>; rel="last",
        <http://api.lvh.me:3000/collections/featured?page=2&per[...]
- request:
    method: post
    uri: http://api.lvh.me:3000/collections
    body:
      encoding: UTF-8
      string: description=&private=true&title=Ultimate+Faves
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Bearer 69cca388c56e64fc2ee1c9f7cfb0dcec1bf1b384957b61c9ec6764777b98554e
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Surrogate-Control:
      - max-age=300, stal[...]
- request:
    method: post
    uri: http://api.lvh.me:3000/collections?description=&private=true&title=Ultimate%20Faves
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9852'
  [...]
[...]
- request:
    method: put
    uri: http://api.lvh.me:3000/collections/1082907?title=Best%20Picturez
    body:
      encoding: UTF-8
      string: ''
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Bearer 69cca388c56e64fc2ee1c9f7cfb0dcec1bf1b384957b61c9ec6764777b98554e
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - max-age=300, stale-if-error=86400
      Content-Type:
      - application/json
      X-Ratelimit-Li[...]
- request:
    method: put
    uri: http://api.lvh.me:3000/collections/1082907?title=Penultimate%20Faves
    body:
      encoding: UTF-8
      string: ''
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Bearer 69cca388c56e64fc2ee1c9f7cfb0dcec1bf1b384957b61c9ec6764777b98554e
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - max-age=300, stale-if-error=86400
      Content-Type:
      - application/json
      X-Ratelimi[...]
- request:
    method: delete
    uri: http://api.lvh.me:3000/collections/301/remove?photo_id=tAKXap853rY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Bearer 69cca388c56e64fc2ee1c9f7cfb0dcec1bf1b384957b61c9ec6764777b98554e
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - max-age=300, stale-if-error=86400
      Content-Type:
      - application/json
      X-Rate[...]
[...]
- request:
    method: get
    uri: http://api.lvh.me:3000/collections/curated/90
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - max-age=1800, stale-if-error=86400
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remain[...]
