---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/curated_batches/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      Warning:
      - 'Curated Batch endpoints are deprecated. Use Curated Collections instead.
        See: https://unsplash.com/documentation#collections'
      Surrogate-Control:
      - max-age=300, stale-if-error=86400
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9845'
    body:
      encoding: UTF-8
      string: '{"id":2,"public_id":2,"published_at":"2013-06-09T20:00:00-04:00","downloads":0,"curator":{"id":"eUO1o53muso","updated_at":"2017-08-10T16:52:42-04:00","username":"crew","name":"Crew","first_name":"Crew","last_name":null,"twitter_username":"crewlabs","portfolio_url":"https://crew.co","bio":null,"location":"Montreal","followed_by_user":false,"total_likes":0,"total_photos":74,"total_collections":52,"profile_image":{"small":"https://images.unsplash.com/profile-1472177817227-a0ca6d7cbea6?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32&s=695c84d3a69b4ed0307849da3d078827","medium":"https://images.unsplash.com/profile-1472177817227-a0ca6d7cbea6?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64&s=7ada5e3506a4086ea7567c4727eaca31","large":"https://images.unsplash.com/profile-1472177817227-a0ca6d7cbea6?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128&s=78eb85f020755c50bb61046b1813c00d"},"links":{"self":"http://api.localhost:3000/users/crew","html":"http://lvh.me:3000/@crew","photos":"http://api.localhost:3000/users/crew/photos","likes":"http://api.localhost:3000/users/crew/likes","portfolio":"http://api.localhost:3000/users/crew/portfolio","following":"http://api.localhost:3000/users/crew/following","followers":"http://api.localhost:3000/users/crew/followers"}},"links":{"self":"http://api.lvh.me:3000/curated_batches/2","html":"http://lvh.me:3000/collections/curated/2","photos":"http://api.lvh.me:3000/curated_batches/2/photos","download":"https://download.unsplash.com/zip-archives/2-archive.zip"}}'
  recorded_at: Fri, 08 Dec 2017 18:49:31 GMT
- request:
    method: get
    uri: http://api.lvh.me:3000/curated_batches/2/photos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      Warning:
      - 'Curated Batch endpoints are deprecated. Use Curated Collections instead.
        See: https://unsplash.com/documentation#collections'
      Surrogate-Control:
      - max-age=300, stale-if-error=86400
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9844'
    body:
      encoding: UTF-8
      string: '[{"id":"Cm7oKel-X2Q","created_at":"2013-06-09T09:57:48-04:00","updated_at":"2017-08-10T14:08:08-04:00","width":2500,"height":1667,"color":"#7E9688","likes":167,"liked_by_user":false,"description":null,"user":{"id":"6KypLntdbO4","updated_at":"2017-08-10T15:42:29-04:00","username":"pjrvs","name":"Paul
        Jarvis","first_name":"Paul","last_name":"Jarvis","twitter_username":"pjrvs","portfolio_url":"https://pjrvs.com","bio":"Designer
        and author.","location":"Canada","total_likes":0,"total_photos":21,"total_collections":2,"profile_image":{"small":"https://images.unsplash.com/profile-1441401714383-b84e68962d3d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32&s=e9b74796e7b8807d1363b5af491db397","medium":"https://images.unsplash.com/profile-1441401714383-b84e68962d3d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64&s=88b61c210af0f93408384d83341bfb5b","large":"https://images.unsplash.com/profile-1441401714383-b84e68962d3d?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128&s=db30f00693e123ba853bfed8eeefcef4"},"links":{"self":"http://api.localhost:3000/users/pjrvs","html":"http://lvh.me:3000/@pjrvs","photos":"http://api.localhost:3000/users/pjrvs/photos","likes":"http://api.localhost:3000/users/pjrvs/likes","portfolio":"http://api.localhost:3000/users/pjrvs/portfolio","following":"http://api.localhost:3000/users/pjrvs/following","followers":"http://api.localhost:3000/users/pjrvs/followers"}},"current_user_collections":[],"urls":{"raw":"https://images.unsplash.com/2/10.jpg","full":"https://images.unsplash.com/2/10.jpg?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&s=12099f11f0efd9d13dfaeb9648bbd79d","regular":"https://images.unsplash.com/2/10.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=24a74a80cfcfcc2e77273617bdbd9b94","small":"https://images.unsplash.com/2/10.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&s=205eef74a53218765a44cba6dfdaa26c","thumb":"https://images.unsplash.com/2/10.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=fe40ee98a93f3ebe212dd5c064a100d1"},"categories":[],"links":{"self":"http://api.localhost:3000/photos/Cm7oKel-X2Q","html":"http://lvh.me:3000/photos/Cm7oKel-X2Q","download":"http://lvh.me:3000/photos/Cm7oKel-X2Q/download","download_location":"http://api.localhost:3000/photos/Cm7oKel-X2Q/download"}},{"id":"NYDo21ssGao","created_at":"2013-06-09T09:57:48-04:00","updated_at":"2017-08-02T12:44:09-04:00","width":2500,"height":1667,"color":"#4C6058","likes":89,"liked_by_user":false,"description":"A
        waterfall pouring down into a rocky creek in a forested area","user":{"id":"6KypLntdbO4","updated_at":"2017-08-10T15:42:29-04:00","username":"pjrvs","name":"Paul
        Jarvis","first_name":"Paul","last_name":"Jarvis","twitter_username"[...]
- request:
    method: get
    uri: http://api.lvh.me:3000/curated_batches/?page=1&per_page=12
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      Warning:
      - 'Curated Batch endpoints are deprecated. Use Curated Collections instead.
        See: https://unsplash.com/documentation#collections'
      Link:
      - <http://api.lvh.me:3000/curated_batches?page=13&per_page=12>; rel="last",
        <http://api.lvh.me:3000/curated_batches?page=2&per_page=12>; rel="next"
      X-Total:
      - '154'
      X-Per-Page:
      - '12'
      Surrogate-Control:
      - max-age=300, stale-if-error=86400
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9843'
    body:
      encoding: UTF-8
      string: '[{"id":168,"public_id":154,"published_at":"2017-07-27T19:08:14-04:00","downloads":0,"curator":{"id":"YR_kUAmnr18","updated_at":"2017-08-10T16:54:10-04:00","username":"trapnation","name":"Andre
        Benz","first_name":"Andre","last_name":"B[...]
- request:
    method: get
    uri: http://api.lvh.me:3000/curated_batches/1234
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9842'
    body:
      encoding: UTF-8
      string: '{"errors":["Couldn''t find Curated Batch"],"trace":["/Users/aaron/source/unsplash/unsplash-api/app/api/unsplash_api/v1/curated_batches.rb:31:in
        `block (3 levels) in <class:CuratedBatches>''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/grape-0.19.2/lib/grape/endpoint.rb:59:in
        `call''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/grape-0.19.2/lib/grape/endpoint.rb:59:in
        `block (2 levels) in generate_api_method''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/activesupport-4.2.7.1/lib/active_support/notifications.rb:166:in
        `instrument''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/grape-0.19.2/lib/grape/endpoint.rb:58:in
        `block in generate_api_method''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/grape-0.19.2/lib/grape/endpoint.rb:262:in
        `block in run''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/activesupport-4.2.7.1/lib/active_support/notifications.rb:166:in
        `instrument''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/grape-0.19.2/lib/grape/endpoint.rb:240:in
        `run''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/grape-0.19.2/lib/grape/endpoint.rb:313:in
        `block in build_stack''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/newrelic_rpm-3.18.0.329/lib/new_relic/agent/instrumentation/middleware_tracing.rb:96:in
        `call''"]}'
  recorded_at: Fri, 08 Dec 2017 18:49:33 GMT
recorded_with: VCR 3.0.3
