---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/curated_batches/2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"c38bbf510503514fa93418c62a6a0714"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '942'
    body:
      encoding: UTF-8
      string: '{"id":2,"published_at":"2013-06-09T20:00:00.000-04:00","curator":{"id":"eUO1o53muso","username":"crew","name":"Crew","bio":"Work
        with the best designers and developers without breaking the bank.","links":{"self":"http://api.lvh.me:3000/users/crew","html":"http://lvh.me:3000/crew","photos":"http://api.lvh.me:3000/users/crew/photos"}},"photos":[{"id":"3MtiSMdnoCo","urls":{"regular":"https://unsplash.imgix.net/2/01.jpg?q=75\u0026fm=jpg\u0026w=1080\u0026fit=max\u0026s=0fd4296fed6cc47b6de2dd40ed777d38","small":"https://unsplash.imgix.net/2/01.jpg?q=75\u0026fm=jpg\u0026w=400\u0026fit=max\u0026s=e131a611b4689d22d1a3031c87f0054e","thumb":"https://unsplash.imgix.net/2/01.jpg?q=75\u0026fm=jpg\u0026w=200\u0026fit=max\u0026s=d9a55d0f2f2a951ecb294374f620fd5e"},"links":{"self":"http://api.lvh.me:3000/photos/3MtiSMdnoCo","html":"http://lvh.me:3000/photos/3MtiSMdnoCo","download":"http://lvh.me:3000/photos/3MtiSMdnoCo/download"}},{"id":"IQ1kOQTJrOQ","urls":{"regular":"https://ununsplash.imgix.net/2/08.jpg?q=75\u0026fm=jpg\u0026w=1080\u0026fit=max\u0026s=61716f37b2b76c36aa4918b20c46a9ab","small":"https://ununsplash.imgix.net/2/08.jpg?q=75\u0026fm=jpg\u0026w=400\u0026fit=max\u0026s=0a97740439fe3d50081017e6fe6f4d4e","thumb":"https://ununsplash.imgix.net/2/08.jpg?q=75\u0026fm=jpg\u0026w=200\u0026fit=max\u0026s=44ae3089a18fdcc2edeaa6305cbbde89"},"links":{"self":"http://api.lv[...]
- request:
    method: get
    uri: http://api.lvh.me:3000/curated_batches/2/photos?page=1&per_page=11
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0677aaa8db7463364a93df272eb47300"
      X-Ratelimit-Limit:
      - '1000'
      X-Rate[...]
- request:
    method: get
    uri: http://api.lvh.me:3000/curated_batches/1234
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 404
      message: 'Not Found '
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '940'
    body:
      encoding: UTF-8
      string: '{"error":"Couldn''t find CuratedBatch with ''id''=1234"}'
  recorded_at: Mon, 22 Jun 2015 21:19:34 GMT
- request:
    method: get
    uri: http://api.lvh.me:3000/curated_batches/?page=1&per_page=12
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Link:
      - <http://api.lvh.me:3000/curated_batches?page=7&per_page=12>; rel="last", <http://api.lvh.me:3000/curated_batches?page=2&per_page=12>;
        rel="next"
      X-Total:
      - '74'
      X-Per-Page:
      - '12'
      Content-Type:
      - application/json
      Etag:
      - W/"10f357dfa13b2f231bf052d44f540878"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '939'
    body:
      encoding: UTF-8
      string: '[{"id":1,"published_at":"2015-06-17T11:53:00.081-04:00","curator":{"id":"eUO1o53muso","username":"crew","name":"Crew","bio":"Work
        with the best designers and developers without breaking the bank.","links":{"self":"http://api.lvh.me:3000/users/cre[...]
- request:
    method: get
    uri: http://api.lvh.me:3000/curated_batches/2/photos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0677aaa8db7463364a93df272eb47300"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
  [...]
