---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/photos/tAKXap853rY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cf452388b17365399d5439cb1ac8651a"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '962'
    body:
      encoding: UTF-8
      string: '{"id":"tAKXap853rY","width":5616,"height":3744,"color":"#755D47","urls":{"regular":"https://unsplash.imgix.net/1/macbook-air-all-faded-and-stuff.jpg?q=75\u0026fm=jpg\u0026w=1080\u0026fit=max\u0026s=41796dca79c250dfd7a5778dc06b7038","small":"https://unsplash.imgix.net/1/macbook-air-all-faded-and-stuff.jpg?q=75\u0026fm=jpg\u0026w=400\u0026fit=max\u0026s=72cd331eccf1b07a32375ff5e8523a12","thumb":"https://unsplash.imgix.net/1/macbook-air-all-faded-and-stuff.jpg?q=75\u0026fm=jpg\u0026w=200\u0026fit=max\u0026s=00215f76a5d93475894d423c550ab7f9"},"links":{"self":"http://api.lvh.me:3000/photos/tAKXap853rY","html":"http://lvh.me:3000/photos/tAKXap853rY","download":"http://lvh.me:3000/photos/tAKXap853rY/download"},"user":{"id":"pXhwzz1JtQU","username":"alejandroescamilla","name":"Alejandro
        Escamilla","links":{"self":"http://api.lvh.me:3000/users/alejandroescamilla","html":"http://lvh.me:3000/alejandroescamilla","photos":"http://api.lvh.me:3000/users/alejandroescamilla/photos"}}}'
  recorded_at: Mon, 22 Jun 2015 19:32:54 GMT
- request:
    method: get
    uri: http://api.lvh.me:3000/photos/abc123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 404
      message: 'Not Found '
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '961'
    body:
      encoding: UTF-8
      string: '{"errors":["Couldn''t find Photo"]}'
  recorded_at: Mon, 22 Jun 2015 19:32:54 GMT
- request:
    method: get
    uri: http://api.lvh.me:3000/photos/?page=1&per_page=6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Link:
      - <http://api.lvh.me:3000/photos?page=576&per_page=6>; rel="last", <http://api.lvh.me:3000/photos?page=2&per_page=6>;
        rel="next"
      X-Total:
      - '3454'
      X-Per-Page:
      - '6'
      Content-Type:
      - application/json
      Etag:
      - W/"26001960f0fca68e062b30fc44544084"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '960'
    body:
      encoding: UTF-8
      string: '[{"id":"esm80lpf2kE","urls":{"regular":"https://ununsplash.imgix.net/photo-1433116209692-9330d85f1afb?q=75\u0026fm=jpg\u0026w=1080\u0026fit=max\u0026s=639d0f9069b778709d219781497f2268","small":"https://ununsplash.imgix.net/photo-1433116209692-9330d85f1afb[...]
- request:
    method: get
    uri: http://api.lvh.me:3000/search/photos?page=1&per_page=10&query=dog
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Link:
      - <http://api.lvh.me:3000/search/photos?page=6&query=dog>; rel="last",
        <http://api.lvh.me:3000/search/photos?page=2&query=dog>; rel="next"
      X-Total:
      - '24'
      X-Per-Page:
      - '4'
      Content-Type:
      - application/json
      Etag:
      - W/"b7b756f05ce3a55065dbac3a592d5bb7"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '959'
    body:
      encoding: UTF-8
      string: '{"total":10,"total_pages":1,"results":[{"id":"J75SjdIvfoE","urls":{"regular":"https://ununsplash.imgix.net/photo-1424915950309-955546acf037?q=75\u0026fm=jpg\u0026w=1080\u0026fit=max\u0026s=a2020e053595b065e3de1a794afe0c83","small":"https://ununsplash.imgix.net/photo-1424915950309-955546acf037?q=75\u0026fm=jpg\u0026w=400\u0026fit=max\u0026s=cba622b6ac52c5f799e9468b270df4da","thumb":"https://ununsplash.imgix.net/photo-1424915950309-955546acf037?q=75\u0026fm=jpg\u0026w=200\u0026fit=max\u0026s=3c7bb86ec4a19901d5b2d1141eaa4511"},"links":[...]
[...]
- request:
    method: get
    uri: http://api.lvh.me:3000/photos/random?category=2&featured=true&h=200&w=320
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ceed43741a34403d310d121baca786ce"
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
    body:
      encoding: UTF-8
      string: '{"id":"71cd1rWqO8M","width":4912,"height":2760,"color":"#A5A6A8","downloads":0,"urls":{"regular":"https://images.unsplash.com/photo-1439396087961-98bc12c21176?q=80&fm=jpg&w=1080&fit=max&s=f8996e1e2b77977a7e3e32aa04d19add","small":"https://images.unsplash.com/photo-1439396087961-98bc12c21176?q=80&fm=jpg&w=400&fit=max&s=e3a9108d5c4fb01d9ad1993cf42628b4","thumb":"https://images.unsplash.com/photo-1439396087961-98bc12c21176?q=80&fm=jpg&w=200&fit=max&s=165bfa58384d6ebfcfcf7155faa0667d","custom":"https://images.unsplash.com/photo-1439396087961-98bc12c21176?q=80&fm=jpg&w=320&h=200&s=4aff6f3902c372af4589cdd0c7b1b1de"},"links":{"self":"http://api.lvh.me:3000/photos/71cd1rWqO8M","html":"http://lvh.me:3000/photos/71cd1rWqO8M","download":"http://lvh.me:3000/photos/71cd1rWqO8M/download"},"user":{"id":"tATi714XXzE","username":"lili_popper","name":"Lili
        Popper","links":{"self":"http://api.lvh.me:3000/users/lili_popper","html":"http://lvh.me:3000/lili_popper","photos":"http://api.lvh.me:3000/users/lili_popper/photos"}}}'
  recorded_at: Thu, 17 Sep 2015 19:02:42 GMT
- request:
    method: get
    uri: http://api.lvh.me:3000/photos/random?username=bigfoot
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 404
      message: 'Not Found '
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '97'
    body:
      encoding: UTF-8
      string: '{"errors":["Couldn''t find User"]}'
  recorded_at: Thu, 17 Sep 2015 19:05:15 GMT
- request:
    method: get
    uri: http://api.lvh.me:3000/photos/random?orientation=landscape
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ceed43741a34403d310d121baca786ce"
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Rem[...]
- request:
    method: get
    uri: http://api.lvh.me:3000/photos/random?count=6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ceed43741a34403d310d121baca786ce"
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      [...]
[...]
- request:
    method: post
    uri: http://api.lvh.me:3000/photos/tAKXap853rY/like
    body:
      encoding: UTF-8
      string: ''
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Bearer 69cca388c56e64fc2ee1c9f7cfb0dcec1bf1b384957b61c9ec6764777b98554e
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: 'Created '
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"02a3266d2cff1588db85202009603b2b"
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '96'
    body:
      encoding: UTF-8
      string: '{"photo":{"id":"tAKXap853rY","width":5616,"height":3744,"color":"#755D47","urls":{"full":"https://images.unsplash.com/1/macbook-air-all-faded-and-stuff.jpg?q=80&fm=jpg&s=aaf8c24379351a9333457d88e941ee36","regular":"https://images.unsplash.com/1/macbook-air-all-faded-and-stuff.jpg?q=80&fm=jpg&w=1080&fit=max&s=63b07a6fbb9ab6167e1b0ac6b33f601d","small":"https://images.unsplash.com/1/macbook-air-all-faded-and-stuff.jpg?q=80&fm=jpg&w=400&fit=max&s=7e94727b3dcd35c50ce6a1071a86009b","thumb":"https://images.unsplash.com/1/macbook-air-all-faded-and-stuff.jpg?q=80&fm=jpg&w=200&fit=max&s=8089f8e38db737c09c4f34037ee02832"},"links":{"self":"http://api.lvh.me:3000/photos/tAKXap853rY","html":"http://lvh.me:3000/photos/tAKXap853rY","download":"http://lvh.me:3000/photos/tAKXap853rY/download"}},"user":{"id":"OuzxrCITLj8","username":"aaron","name":"Aaron
        Klaassen","links":{"self":"http://api.lvh.me:3000/users/aaron","html":"http://lvh.me:3000/aaron","photos":"http://api.lvh.me:3000/users/aaron/photos","likes":"http://api.lvh.me:3000/users/aaron/likes"}}}'
  recorded_at: Mon, 19 Oct 2015 22:07:33 GMT
- request:
    method: post
    uri: http://api.lvh.me:3000/photos/abc123/like
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 401
      message: 'Unauthorized '
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '95'
    body:
      encoding: UTF-8
      string: '{"errors":["OAuth error: The access token is invalid"]}'
  recorded_at: Mon, 19 Oct 2015 22:10:26 GMT
[...]
- request:
    method: get
    uri: http://api.lvh.me:3000/photos/curated?order_by=popular&page=1&per_page=6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://api.lvh.me:3000/photos/curated?order_by=popular&page=108&per_page=6>;
        rel="last", <http://api.lvh.me:3000/photos/cu[...]
