---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/photos/tAKXap853rY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - max-age=86400, stale-if-error=86400
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9890'
    body:
      encoding: UTF-8
      string: '{"id":"tAKXap853rY","created_at":"2013-05-27T09:57:48-04:00","updated_at":"2017-08-10T05:15:42-04:00","width":5616,"height":3744,"color":"#755D47","description":null,"urls":{"raw":"https://images.unsplash.com/1/macbook-air-all-faded-and-stuff.jpg","full":"https://images.unsplash.com/1/macbook-air-all-faded-and-stuff.jpg?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&s=f33f08b334c34ffe513f1a0fdf72bb71","regular":"https://images.unsplash.com/1/macbook-air-all-faded-and-stuff.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=f3722a4fc0d9f102512b5da82fb4d06d","small":"https://images.unsplash.com/1/macbook-air-all-faded-and-stuff.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&s=5f6843b66a7ff8c5964b4e4e17ab26b0","thumb":"https://images.unsplash.com/1/macbook-air-all-faded-and-stuff.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=8fb3b418c0971fcc0cb28af056d66f88"},"categories":[],"links":{"self":"http://api.lvh.me:3000/photos/tAKXap853rY","html":"http://lvh.me:3000/photos/tAKXap853rY","download":"http://lvh.me:3000/photos/tAKXap853rY/download","download_location":"http://api.lvh.me:3000/photos/tAKXap853rY/download"},"liked_by_user":false,"likes":412,"user":{"id":"pXhwzz1JtQU","updated_at":"2017-08-10T16:50:28-04:00","username":"alejandroescamilla","name":"Alejandro
        Escamilla","first_name":"Alejandro","last_name":"Escamilla","twitter_username":null,"portfolio_url":"http://alejandroescamilla.com/","bio":null,"location":null,"links":{"self":"http://api.lvh.me:3000/users/alejandroescamilla","html":"http://lvh.me:3000/@alejandroescamilla","photos":"http://api.lvh.me:3000/users/alejandroescamilla/photos","likes":"http://api.lvh.me:3000/users/alejandroescamilla/likes","portfolio":"http://api.lvh.me:3000/users/alejandroescamilla/portfolio","following":"http://api.lvh.me:3000/users/alejandroescamilla/following","followers":"http://api.lvh.me:3000/users/alejandroescamilla/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1441298310363-3eb4b1feb829?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32&s=58632e7fb4853e71741b8a6772d6e2cb","medium":"https://images.unsplash.com/profile-1441298310363-3eb4b1feb829?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64&s=4ddd6656ddd74206872f45c033371087","large":"https://images.unsplash.com/profile-1441298310363-3eb4b1feb829?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128&s=b99f94725bf15139aa11b8389c53462c"},"total_likes":0,"total_photos":17,"total_collections":0},"current_user_collections":[],"slug":null,"exif":{"make":"Canon","model":"Canon
        EOS 5D Mark II","exposure_time":"1/4000","aperture":"6.3","focal_length":"50","iso":100},"views":0,"downloads":0}'
  recorded_at: Fri, 08 Dec 2017 20:41:39 GMT
- request:
    method: delete
    uri: http://api.lvh.me:3000/photos/abc123/like
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9879'
    body:
      encoding: UTF-8
      string: '{"errors":["OAuth error: The access token is invalid"],"trace":["/Users/aaron/source/unsplash/unsplash-api/app/api/unsplash_api/v1/oauth_custom.rb:33:in
        `check_scopes''","/Users/aaron/source/unsplash/unsplash-api/app/api/unsplash_api/v1/oauth_custom.rb:16:in
        `doorkeeper_authorize!''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/bundler/gems/wine_bouncer-e9e48f48f614/lib/wine_bouncer/oauth2.rb:91:in
        `before''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/grape-0.19.2/lib/grape/middleware/base.rb:29:in
        `call!''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/grape-0.19.2/lib/grape/middleware/base.rb:24:in
        `call''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/newrelic_rpm-3.18.0.329/lib/new_relic/agent/instrumentation/middleware_tracing.rb:96:in
        `call''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/grape-0.19.2/lib/grape/middleware/error.rb:34:in
        `block in call!''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/grape-0.19.2/lib/grape/middleware/error.rb:33:in
        `catch''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/grape-0.19.2/lib/grape/middleware/error.rb:33:in
        `call!''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/grape-0.19.2/lib/grape/middleware/base.rb:24:in
        `call''"]}'
  recorded_at: Fri, 08 Dec 2017 20:41:42 GMT
- request:
    method: delete
    uri: http://api.lvh.me:3000/photos/tAKXap853rY/like
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Bearer 69cca388c56e64fc2ee1c9f7cfb0dcec1bf1b384957b61c9ec6764777b98554e
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - max-age=300, stale-if-error=86400
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9878'
    body:
      encoding: UTF-8
      string: '{"photo":{"id":"tAKXap853rY","created_at":"2013-05-27T09:57:48-04:00","updated_at":"2017-08-10T05:15:42-04:00","width":5616,"height":3744,"color":"#755D47","likes":411,"liked_by_user":false,"description":null,"current_user_collections":[],"urls":{"raw":"https://images.unsplash.com/1/macbook-air-all-faded-and-stuff.jpg","full":"https://images.unsplash.com/1/macbook-air-all-faded-and-stuff.jpg?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&s=f33f08b334c34ffe513f1a0fdf72bb71","regular":"https://images.unsp[...]
- request:
    method: get
    uri: http://api.lvh.me:3000/photos/curated?order_by=popular&page=1&per_page=6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://api.lvh.me:3000/photos/curated?order_by=popular&page=241&per_page=6>;
        rel="last", <http://api.lvh.me:3000/photos/curated?order_by=popular&page=2&per_page=6>;
        rel="next"
      X-Total:
      - '1446'
      X-Per-Page:
      - '6'
      Surrogate-Control:
      - max-age=900, stale-if-error=86400
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9877'
    body:
      encoding: UTF-8
      string: '[{"id":"jLwVAUtLOAQ","created_at":"2015-05-28T10:00:01-04:00","updated_at":"2017-08-10T14:14:40-04:00","width":4000,"height":2667,"color":"#A39F88","likes":4644,"liked_by_user":false,"description":"A
        hand taking a clear shot of hanging[...]
- request:
    method: get
    uri: http://api.lvh.me:3000/photos/?order_by=latest&page=1&per_page=6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://api.lvh.me:3000/photos?order_by=latest&page=5857&per_page=6>; rel="last",
        <http://api.lvh.me:3000/photos?order_by=latest&pa[...]
- request:
    method: get
    uri: http://api.lvh.me:3000/photos/?order_by=oldest&page=1&per_page=6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://api.lvh.me:3000/photos?order_by=oldest&page=6392&per_page=6>; rel="last",
        <http://api.lvh.me:3000/photos?order_by=oldest&pa[...]
- request:
    method: get
    uri: http://api.lvh.me:3000/photos/abc123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9874'
    body:
      encoding: UTF-8
      string: '{"errors":["Couldn''t find Photo"],"trace":["/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/activerecord-4.2.7.1/lib/active_record/relation/finder_methods.rb:111:in
        `take!''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/activerecord-4.2.7.1/lib/active_record/relation/finder_methods.rb:92:in
        `find_by!''","/Users/aaron/source/unsplash/unsplash-api/app/api/unsplash_api/v1/photos.rb:238:in
        `block (3 levels) in <class:Photos>''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/grape-0.19.2/lib/grape/endpoint.rb:59:in
        `call''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/grape-0.19.2/lib/grape/endpoint.rb:59:in
        `block (2 levels) in generate_api_method''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/activesupport-4.2.7.1/lib/active_support/notifications.rb:166:in
        `instrument''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/grape-0.19.2/lib/grape/endpoint.rb:58:in
        `block in generate_api_method''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/grape-0.19.2/lib/grape/endpoint.rb:262:in
        `block in run''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/activesupport-4.2.7.1/lib/active_support/notifications.rb:166:in
        `instrument''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/grape-0.19.2/lib/grape/endpoint.rb:240:in
        `run''"]}'
  recorded_at: Fri, 08 Dec 2017 20:41:43 GMT
- request:
    method: get
    uri: http://api.lvh.me:3000/photos/random?category=2&featured=true&h=200&w=320
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      Warning:
      - 'Categories are deprecated. For more details on our API changes go to: http://changelog.unsplash.com/'
      Content-Type:
      - application/json
      Etag:
      - W/"25485f8e6df0aeeb382321a8bb32f5c1"
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9873'
    body:
      encoding: UTF-8
      string: '{"id":"VNseEaTt9w4","created_at":"2015-10-03T12:49:29-04:00","updated_at":"2017-08-10T12:20:19-04:00","width":2560,"height":1707,"color":"#6C7076","description":"A
        high snow-covered peak rising above a mountainous landscape","urls":{"raw":"https://images.unsplash.com/photo-1443890923422-7819ed4101c0","full":"https://images.unsplash.com/photo-1443890923422-7819ed4101c0?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&s=25b285e46a0d74a7fd5616104a62f3cb","regular":"https://images.unsplash.com/photo-1443890923422-7819ed4101c0?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=f83ac105d44b7ada3748977c52f1446b","small":"https://images.unsplash.com/photo-1443890923422-7819ed4101c0?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&s=1af1012954e0870f76c68bb057bff9a3","thumb":"https://images.unsplash.com/photo-1443890923422-7819ed4101c0?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=6d44f30384b319610f7f55a764f547b1","custom":"https://images.unsplash.com/photo-1443890923422-7819ed4101c0?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=320&h=200&fit=crop&s=9bec11a20f9151591e30b9dd4b6ad1a8"},"categories":[],"links":{"self":"http://api.lvh.me:3000/photos/VNseEaTt9w4","html":"http://lvh.me:3000/photos/VNseEaTt9w4","download":"http://lvh.me:3000/photos/VNseEaTt9w4/download","download_location":"http://api.lvh.me:3000/photos/VNseEaTt9w4/download"},"liked_by_user":false,"likes":2671,"user":{"id":"0dDV6neVsCw","updated_[...]
- request:
    method: get
    uri: http://api.lvh.me:3000/photos/random?username=bigfoot
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9872'
    body:
      encoding: UTF-8
 [...]
- request:
    method: get
    uri: http://api.lvh.me:3000/photos/random?orientation=landscape
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3c086d6cf79aff603ecb0acff32c2b39"
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Rema[...]
[...]
- request:
    method: get
    uri: http://api.lvh.me:3000/search/photos?page=1&per_page=3&query=dog
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://api.lvh.me:3000/search/photos?page=180&per_page=3&query=dog>; rel="last",
        <http://api.lvh.me:3000/search/photos?page=2&per_page=3&query=dog>; rel="next"
      X-Total:
      - '541'
      X-Per-Page:
      - '3'
      Surrogate-Control:
      - max-age=86400, stale-if-error=86400
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9868'
    body:
      encoding: UTF-8
      string: '{"total":541,"total_pages":181,"results":[{"id":"nitdfruLYys","created_at":"2016-10-12T13:04:23-04:00","updated_at":"2017-08-09T01:20:30-04:00","width":4000,"height":6000,"color":"#16293A","description":null,"urls":{"raw":"https://images.unsplash.com/photo-1476291846621-d830496a4942","full":"https://images.unsplash.com/photo-1476291846621-d830496a4942?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&s=a6b1c8548f45e8d135edabd736f9331f","regular":"https://images.unsplash.com/photo-1476291846621-d830496a4942?ixlib=rb-0.3.5&q=80&fm=jpg&crop[...]
[...]
- request:
    method: get
    uri: http://api.lvh.me:3000/photos/tAKXap853rY/download
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - max-age=3600, stale-if-error=86400
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9866'
    body:
      encoding: UTF-8
      string: '{"url":"https://images.unsplash.com/1/macbook-air-all-faded-and-stuff.jpg?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&s=f33f08b334c34ffe513f1a0fdf72bb71"}'
  recorded_at: Fri, 08 Dec 2017 20:42:04 GMT
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?orientation=&page=1&per_page=10&query=dog
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?orientation=&page=100&per_page=10&query=dog>;
        rel="last", <https://api.unsplash.com/search/photos?orientation=&page=2&per_page=10&query=dog>;
        rel="next"
      X-Total:
      - '1001'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
      Fastly-Debug-Digest:
      - 91e500706266f9ead52e6b083af1dcc018aa28249a6ac9d5b63f9899111c541c
    body:
      encoding: UTF-8
      string: '{"total":1001,"total_pages":101,"results":[{"id":"pChE-f_gqVc","created_at":"2015-03-13T19:01:04-04:00","updated_at":"2017-11-01T15:36:32-04:00","width":3008,"height":2000,"color":"#3F4140","description":null,"categories":[],"urls":{"raw":"https://images.unsplash.com/photo-1426287658398-5a912ce1ed0a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEwOTJ9&s=056f1d604de9158136b51aec793074fd","[...]
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?orientation=landscape&page=1&per_page=3&query=dog
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?orientation=landscape&page=254&per_page=3&query=dog>;
        rel="last", <[...]
[...]
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?orientation=portrait&page=1&per_page=3&query=dog
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?orientation=portrait&page=65&per_page=3&query=dog>;
        rel="last", <htt[...]
- request:
    method: get
    uri: https://api.unsplash.com/photos/curated?order_by=latest&page=1&per_page=6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/photos/curated?order_by=latest&page=275&per_page=6>;
        rel="last", <https://api.unsplash.com/photo[...]
