---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/photos/tAKXap853rY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"cf452388b17365399d5439cb1ac8651a"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '962'
    body:
      encoding: UTF-8
      string: '{"id":"tAKXap853rY","width":5616,"height":3744,"color":"#755D47","urls":{"regular":"https://unsplash.imgix.net/1/macbook-air-all-faded-and-stuff.jpg?q=75\u0026fm=jpg\u0026w=1080\u0026fit=max\u0026s=41796dca79c250dfd7a5778dc06b7038","small":"https://unsplash.imgix.net/1/macbook-air-all-faded-and-stuff.jpg?q=75\u0026fm=jpg\u0026w=400\u0026fit=max\u0026s=72cd331eccf1b07a32375ff5e8523a12","thumb":"https://unsplash.imgix.net/1/macbook-air-all-faded-and-stuff.jpg?q=75\u0026fm=jpg\u0026w=200\u0026fit=max\u0026s=00215f76a5d93475894d423c550ab7f9"},"links":{"self":"http://api.lvh.me:3000/photos/tAKXap853rY","html":"http://lvh.me:3000/photos/tAKXap853rY","download":"http://lvh.me:3000/photos/tAKXap853rY/download"},"user":{"id":"pXhwzz1JtQU","username":"alejandroescamilla","name":"Alejandro
        Escamilla","links":{"self":"http://api.lvh.me:3000/users/alejandroescamilla","html":"http://lvh.me:3000/alejandroescamilla","photos":"http://api.lvh.me:3000/users/alejandroescamilla/photos"}}}'
  recorded_at: Mon, 22 Jun 2015 19:32:54 GMT
- request:
    method: get
    uri: http://api.lvh.me:3000/photos/abc123
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 404
      message: 'Not Found '
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '961'
    body:
      encoding: UTF-8
      string: '{"errors":["Couldn''t find Photo"]}'
  recorded_at: Mon, 22 Jun 2015 19:32:54 GMT
- request:
    method: get
    uri: http://api.lvh.me:3000/photos/?page=1&per_page=6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Link:
      - <http://api.lvh.me:3000/photos?page=576&per_page=6>; rel="last", <http://api.lvh.me:3000/photos?page=2&per_page=6>;
        rel="next"
      X-Total:
      - '3454'
      X-Per-Page:
      - '6'
      Content-Type:
      - application/json
      Etag:
      - W/"26001960f0fca68e062b30fc44544084"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '960'
    body:
      encoding: UTF-8
      string: '[{"id":"esm80lpf2kE","urls":{"regular":"https://ununsplash.imgix.net/photo-1433116209692-9330d85f1afb?q=75\u0026fm=jpg\u0026w=1080\u0026fit=max\u0026s=639d0f9069b778709d219781497f2268","small":"https://ununsplash.imgix.net/photo-1433116209692-9330d85f1afb[...]
- request:
    method: get
    uri: http://api.lvh.me:3000/photos/search/?page=1&per_page=4&query=dog
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Link:
      - <http://api.lvh.me:3000/photos/search?page=6&per_page=4&query=dog>; rel="last",
        <http://api.lvh.me:3000/photos/search?page=2&pe[...]
- request:
    method: post
    uri: http://api.lvh.me:3000/photos
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost\r\nContent-Disposition: form-data; name=\"photo\";
        filename=\"upload-1.txt\"\r\nContent-Length: 28\r\nContent-Type: image/jpeg\r\nContent-Transfer-Encoding:
        binary\r\n\r\nThis is an image, I promise.\r\n-------------RubyMultipartPost--\r\n\r\n"
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Bearer 69cca388c56e64fc2ee1c9f7cfb0dcec1bf1b384957b61c9ec6764777b98554e
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 201
      message: 'Created '
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"b3f1c4df00dd555cf7291d18b710f650"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '936'
    body:
      encoding: UTF-8
      string: '{"id":"trJ5ebffaLo","width":null,"height":null,"color":null,"urls":{"regular":"https://ununsplash.imgix.net/development/upload-1.txt?q=75&fm=jpg&w=1080&fit=max&s=a7bb5ed49eee65d5a332167259336e04","small":"https://ununsplash.imgix.net/development/upload-1.txt?q=75&fm=jpg&w=400&fit=max&s=e2c81367b4ea648377cae4f423f50be9","thumb":"https://ununsplash.imgix.net/development/upload-1.txt?q=75&fm=jpg&w=200&fit=max&s=f7ea7de3d92143ebcbd637b14a393947"},"links":{"self":"http://api.lvh.me:3000/photos/trJ5ebffaLo","html":"http://lvh.me:3000/photos/trJ5ebffaLo","download":"http://lvh.me:3000/photos/trJ5ebffaLo/download"},"user":{"id":"2b09BkkiAN0","username":"aarondev","name":"James
        Jangly","links":{"self":"http://api.lvh.me:3000/users/aarondev","html":"http://lvh.me:3000/aarondev","photos":"http://api.lvh.me:3000/users/aarondev/photos"}}}'
  recorded_at: Wed, 24 Jun 2015 18:12:00 GMT
- request:
    method: post
    uri: http://api.lvh.me:3000/photos?photo=%23%3CUploadIO:0x007ffdc306c138%3E
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 401
      message: 'Unauthorized '
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '935'
    body:
      encoding: UTF-8
      string: '{"errors":["OAuth error: unauthorized"]}'
  recorded_at: Wed, 24 Jun 2015 18:12:27 GMT
- request:
    method: get
    uri: http://api.lvh.me:3000/photos/random?category=2&featured=true&h=200&w=320
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"ceed43741a34403d310d121baca786ce"
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '99'
    body:
      encoding: UTF-8
      string: '{"id":"71cd1rWqO8M","width":4912,"height":2760,"color":"#A5A6A8","downloads":0,"urls":{"regular":"https://images.unsplash.com/photo-1439396087961-98bc12c21176?q=80&fm=jpg&w=1080&fit=max&s=f8996e1e2b77977a7e3e32aa04d19add","small":"https://images.unsplash.com/photo-1439396087961-98bc12c21176?q=80&fm=jpg&w=400&fit=max&s=e3a9108d5c4fb01d9ad1993cf42628b4","thumb":"https://images.unsplash.com/photo-1439396087961-98bc12c21176?q=80&fm=jpg&w=200&fit=max&s=165bfa58384d6ebfcfcf7155faa0667d","custom":"https://images.unsplash.com/photo-1439396087961-98bc12c21176?q=80&fm=jpg&w=320&h=200&s=4aff6f3902c372af4589cdd0c7b1b1de"},"links":{"self":"http://api.lvh.me:3000/photos/71cd1rWqO8M","html":"http://lvh.me:3000/photos/71cd1rWqO8M","download":"http://lvh.me:3000/photos/71cd1rWqO8M/download"},"user":{"id":"tATi714XXzE","username":"lili_popper","name":"Lili
        Popper","links":{"self":"http://api.lvh.me:3000/users/lili_popper","html":"http://lvh.me:3000/lili_popper","photos":"http://api.lvh.me:3000/users/lili_popper/photos"}}}'
  recorded_at: Thu, 17 Sep 2015 19:02:42 GMT
- request:
    method: get
    uri: http://api.lvh.me:3000/photos/random?username=bigfoot
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 404
      message: 'Not Found '
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '97'
    body:
      encoding: UTF-8
      string: '{"errors":["Couldn''t find User"],"trace":["/Users/aaron/.rvm/gems/ruby-2.1.6@unsplash/gems/activerecord-4.2.1/lib/active_record/core.rb:196:in
        `find_by!''","/Users/aaron/source/unsplash/app/api/unsplash_api/v1/photos.rb:64:in
        `block (2 levels) in \u003cclass:Photos\u003e''","/Users/aaron/.rvm/gems/ruby-2.1.6@unsplash/gems/grape-0.11.0/lib/grape/endpoint.rb:47:in
        `call''","/Users/aaron/.rvm/gems/ruby-2.1.6@unsplash/gems/grape-0.11.0/lib/grape/endpoint.rb:47:in
        `block in generate_api_method''","/Users/aaron/.rvm/gems/ruby-2.1.6@unsplash/gems/grape-0.11.0/lib/grape/endpoint.rb:247:in
        `call''","/Users/aaron/.rvm/gems/ruby-2.1.6@unsplash/gems/grape-0.11.0/lib/grape/endpoint.rb:247:in
        `run''","/Users/aaron/.rvm/gems/ruby-2.1.6@unsplash/gems/grape-0.11.0/lib/grape/endpoint.rb:195:in
        `block in call!''","/Users/aaron/.rvm/gems/ruby-2.1.6@unsplash/gems/newrelic-grape-2.0.0/lib/newrelic-grape/instrument.rb:21:in
        `call''","/Users/aaron/.rvm/gems/ruby-2.1.6@unsplash/gems/newrelic-grape-2.0.0/lib/newrelic-grape/instrument.rb:21:in
        `block in call!''","/Users/aaron/.rvm/gems/ruby-2.1.6@unsplash/gems/newrelic_rpm-3.9.0.229/lib/new_relic/agent/instrumentation/controller_instrumentation.rb:364:in
        `perform_action_with_newrelic_trace''"]}'
  recorded_at: Thu, 17 Sep 2015 19:05:15 GMT
recorded_with: VCR 2.9.3
