---
http_interactions:
- request:
    method: get
    uri: "<API_URI>photos/random"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID <ACCESS_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '100'
    body:
      encoding: UTF-8
      string: '{"id":"LIHoumDou1I","created_at":"2019-03-09T07:56:32-05:00","updated_at":"2019-03-13T05:56:09-04:00","width":4896,"height":3264,"color":"#212123","description":null,"alt_description":"inline
        chairs placed against walls of hallway","urls":{"raw":"https://images.unsplash.com/photo-1552135786-8f23dbaa52cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEwOTJ9","full":"https://images.unsplash.com/photo-1552135786-8f23dbaa52cb?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjEwOTJ9","regular":"https://images.unsplash.com/photo-1552135786-8f23dbaa52cb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEwOTJ9","small":"https://images.unsplash.com/photo-1552135786-8f23dbaa52cb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjEwOTJ9","thumb":"https://images.unsplash.com/photo-1552135786-8f23dbaa52cb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjEwOTJ9"},"links":{"self":"<API_URI>photos/LIHoumDou1I","html":"<OAUTH_URI>photos/LIHoumDou1I","download":"<OAUTH_URI>photos/LIHoumDou1I/download","download_location":"<API_URI>photos/LIHoumDou1I/download"},"categories":[],"sponsored":false,"sponsored_by":null,"sponsored_impressions_id":null,"likes":22,"liked_by_user":false,"current_user_collections":[],"user":{"id":"cSMJ-DVonO0","updated_at":"2019-03-19T17:47:37-04:00","username":"nilsschirmer","name":"Nils
        Schirmer","first_name":"Nils","last_name":"Schirmer","twitter_username":"nilsschirmer","portfolio_url":"https://wolfgangson.com/","bio":"just
        a regular guy with four eyes and a camera.","location":"Berlin","links":{"self":"<API_URI>users/nilsschirmer","html":"<OAUTH_URI>@nilsschirmer","photos":"<API_URI>users/nilsschirmer/photos","likes":"<API_URI>users/nilsschirmer/likes","portfolio":"<API_URI>users/nilsschirmer/portfolio","following":"<API_URI>users/nilsschirmer/following","followers":"<API_URI>users/nilsschirmer/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-fb-1488124932-25b268c8de45.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-fb-1488124932-25b268c8de45.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-fb-1488124932-25b268c8de45.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"n1l5","total_collections":2,"total_likes":10,"total_photos":21,"accepted_tos":true},"exif":{"make":"FUJIFILM","model":"X100S","exposure_time":"1/80","aperture":"4.0","focal_length":"23.0","iso":400},"views":171720,"downloads":611}'
  recorded_at: Tue, 19 Mar 2019 23:00:15 GMT
- request:
    method: get
    uri: "<API_URI>photos/random?username=bigfoot_aint_real_either"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID <ACCESS_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '100'
    body:
      encoding: UTF-8
      string: '{"errors":["Couldn''t find User"]}'
  recorded_at: Tue, 19 Mar 2019 23:00:15 GMT
- request:
    method: get
    uri: "<API_URI>photos/random?orientation=landscape"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID <ACCESS_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '100'
    body:
      encoding: UTF-8
      string: '{"id":"D-dK8AeFMnM","created_at":"2019-03-16T23:00:22-0[...]
- request:
    method: get
    uri: "<API_URI>photos/tAKXap853rY"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID <ACCESS_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '100'
    body:
      encoding: UTF-8
      string: '{"id":"tAKXap853rY","created_at":"2013-05-27T09:57:48-04:00","updated_at[...]
- request:
    method: get
    uri: "<API_URI>photos/abc123"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID <ACCESS_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '100'
    body:
      encoding: UTF-8
      string: '{"errors":["Couldn''t find Photo"]}'
  recorded_at: Tue, 19 Mar 2019 23:00:26 GMT
- request:
    method: post
    uri: "<API_URI>photos/abc123/like"
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Client-ID <ACCESS_KEY>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '100'
    body:
      encoding: UTF-8
      string: '{"errors":["OAuth error: The access token is invalid"]}'
  recorded_at: Tue, 19 Mar 2019 23:00:26 GMT
- request:
    method: get
    uri: "<API_URI>/photos/tAKXap853rY"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Bearer <BEARER_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '100'
    body:
      encoding: UTF-8
      string: '{"id":"tAKXap853rY","created_at":"2013-05-27T09:57:48-04:00","updated_at":"2019-03-04T00:32:18-05:00","width":5616,"height":3744,"color":"#755D47","description":"Hazy
        workspace","alt_description":"photo of turn-off MacBook Air on table","urls":{"[...]
- request:
    method: post
    uri: "<API_URI>/photos/tAKXap853rY/like"
    body:
      encoding: UTF-8
      string: ''
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Bearer <BEARER_TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '100'
    body:
      encoding: UTF-8
      string: '{"photo":{"id":"tAKXap853rY","created_at":"2013-05-27T09:57:48-04:00","updated_at":"2019-03-04T00:32:18-05:00","width":5616,"height":3744,"color":"#755D47","description":"Hazy
        workspace","alt_description":"photo of turn-off MacBook Air on table","urls":{"raw":"https://unsplash.imgix.net/1/macbook-air-all-faded-and-stuff.jpg?ixlib=rb-1.2.1","full":"https://unsplash.imgix.net/1/macbook-air-all-faded-and-stuff.jpg?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb","regular":"https://unsplash.imgix.net[...]
- request:
    method: get
    uri: "<API_URI>photos/?order_by=latest&page=1&per_page=6"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID <ACCESS_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <<API_URI>photos?order_by=latest&page=17754&per_page=6>; rel="last", <<API_URI>photos?order_by=latest&page=2&per_page=6>;
        rel="next"
      X-Total:
      - '106519'
      X-Per-Page:
      - '6'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '100'
    body:
      encoding: UTF-8
      string: '[{"id":"pH6vl8AHOjI","created_at":"2019-03-02T11:23:42-05:00","updated_at":"2019-03-04T04:22:21-05:00","width":6000,"height":4000,"color":"#E39C28","description":null,"urls":{"raw":"https://unsplash.imgix.net/photo-1551543758-1dd527f4190b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEwOTJ9","full":"https://unsplash.imgix.n[...]
- request:
    method: get
    uri: "<API_URI>photos/?order_by=oldest&page=1&per_page=6"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID <ACCESS_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <<API_URI>photos?order_by=oldest&page=17754&per_page=6>; rel="last", <<API_URI>photos?order_by=oldest&page=2&per_page=6>;
        rel="next"
      X-Total:
      - '106519'
      X-Per-Page:
      - '6'
[...]
- request:
    method: get
    uri: http://api.staging.unsplash.com/photos/tAKXap853rY/download
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID <ACCESS_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - max-age=2400, stale-if-error=3600
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '100'
    body:
      encoding: UTF-8
      string: '{"url":"https://unsplash.imgix.net/1/macbook-air-all-faded-and-stuff.jpg?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb"}'
  recorded_at: Tue, 19 Mar 2019 23:00:27 GMT
- request:
    method: get
    uri: "<API_URI>search/photos?page=1&per_page=3&query=dog"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID <ACCESS_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <<API_URI>search/photos?page=5050&per_page=3&query=dog>; rel="last", <<API_URI>search/photos?page=2&per_page=3&query=dog>;
        rel="next"
      X-Total:
      - '15149'
      X-Per-Page:
      - '3'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '100'
    body:
      encoding: UTF-8
      string: '{"total":15149,"total_pages":5050,"results":[{"id":"ngqyo2AYYnE","created_at":"2017-10-04T15:49:27-04:00","updated_at":"2019-02-22T17:32:38-05:00","width":5184,"height":3456,"color":"#F9F7F3","description":"selective
        focus photography of short-coated brown puppy facing right side","alt_description":"selective
        focus photography of short-coated brown puppy facing right side","urls":{"raw":"https://unsplash.imgix.net/photo-1507146426996-ef05306b995a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEwOTJ9","full":"https://unsplash.imgix.net/[...]
- request:
    method: get
    uri: "<API_URI>search/photos?orientation=portrait&page=1&per_page=3&query=dog"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID <ACCESS_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <<API_URI>search/photos?orientation=portrait&page=1640&per_page=3&query=dog>;
        rel="last", <<API_URI>search/photos?orientation=portrait&page=2&per_page=3&query=dog>;
        r[...]
[...]
- request:
    method: get
    uri: "<API_URI>search/photos?content_filter=low&page=1&per_page=3&query=dog"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID <ACCESS_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <<API_URI>search/photos?content_filter=low&page=3334&per_page=3&query=dog>;
        rel="last", <<API_URI>search/photos?content_filter=low&page=2&per_page=3&query=dog>;
        rel="next"
      X-Total:
      - '10002'
      X-Per-Page:
      - '3'
      Content-Language:
      - en
      Etag:
      - W/"a14eea9b3e572fb3004af1466082d120"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4991'
    body:
      encoding: UTF-8
      string: '{"total":10001,"total_pages":3334,"results":[{"id":"NqkTxxK_2ZY","slug":"a-man-holding-a-small-dog-in-his-hands-NqkTxxK_2ZY","created_at":"2023-06-21T15:14:49Z","updated_at":"2023-09-03T17:39:23Z","promoted_at":null,"width":5472,"height":3648,"color":"#404026","blur_hash":"L7E.;E5jk:}?m-%49uS%4m%GxVE0","description":null,"alt_description":"a
        man holding a small dog in his hands","breadcrumbs":[],"urls":{"raw":"https://images.unsplash.com/photo-1687360440731-d124aea41a3e?ixid=M3wyODMzM3wxfDF8c2VhcmNofDF8fGRvZ3xlbnwwfHx8fDE2OTM4MDkwMTh8MA\u0026ixlib=rb-4.0.3","full":"https://images.unsplash.com/photo-1687360440731-d124aea41a3e?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=M3wyODMzM3wxfDF8c2VhcmNofDF8fGRvZ3xlbnwwfHx8fDE2OTM4MDkwMTh8MA\u0026ixlib=rb-4.0.3\u0026q=85","regular":"https://images.unsplash.com/photo-1687360440731-d124aea41a3e?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3wyODMzM3wxfDF8c2VhcmNofDF8fGRvZ3xlbnwwfHx8fDE2OTM4MDkwMTh8MA\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1687360440731-d124aea41a3e?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3wyODMzM3wxfDF8c2VhcmNofDF8fGRvZ3xlbnwwfHx8fDE2OTM4MDkwMTh8MA\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1687360440731-d124aea41a3e?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=M3wyODMzM3wxfDF8c2VhcmNofDF8fGRvZ3xlbnwwfHx8fDE2OTM4MDkwMTh8MA\u0026ixlib=rb-4.0.3\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1687360440731-d124aea41a3e"},"links":{"self":"<API_URI>photos/a-man-holding-a-small-dog-in-his-hands-NqkTxxK_2ZY","html":"<OAUTH_URI>photos/a-man-holding-a-small-dog-in-his-hands-NqkTxxK_2ZY","download":"<OAUTH_URI>photos/NqkTxxK_2ZY/download?ixid=M3wyODMzM3wxfDF8c2VhcmNofDF8fGRvZ3xlbnwwfHx8fDE2OTM4MDkwMTh8MA","download_location":"<API_URI>photos/NqkTxxK_2ZY/download?ixid=M3wyODMzM3wxfDF8c2VhcmNofDF8fGRvZ3xlbnwwfHx8fDE2OTM4MDkwMTh8MA"},"likes":23,"liked_by_user":false,"current_user_collections":[],"sponsorship":{"impression_urls":[],"tagline":"Celebrate
        neurodiversity at Hiki","tagline_url":"https://www.hikiapp.com","sponsor":{"id":"xwsnp2Yqngg","updated_at":"2023-08-31T23:23:00Z","username":"hikiapp","name":"Hiki
        App","first_name":"Hiki App","last_name":null,"twitter_username":"hikiapp","portfolio_url":"https://www.hikiapp.com","bio":"The
        digital unifier for the Autistic and Neurodivergent community.","location":null,"links":{"self":"<API_URI>users/hikiapp","html":"<OAUTH_URI>@hikiapp","photos":"<API_URI>users/hikiapp/photos","likes":"<API_URI>users/hikiapp/likes","portfolio":"<API_URI>users/hikiapp/portfolio","following":"<API_URI>users/hikiapp/following","followers":"<API_URI>users/hikiapp/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1686056471378-fab93607fd8bimage?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1686056471378-fab93607fd8bimage?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1686056471378-fab93607fd8bimage?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"hikiapp
        ","total_collections":0,"total_likes":0,"total_photos":30,"accepted_tos":true,"for_hire":false,"social":{"instagram_username":"hikiapp
        ","portfolio_url":"https://www.hikiapp.com","twitter_username":"hikiapp","paypal_email":null}}},"topic_submissions":{},"user":{"id":"xwsnp2Yqngg","updated_at":"2023-08-31T23:23:00Z","username":"hikiapp","name":"Hiki
        App","first_name":"Hiki App","last_name":null,"twitter_username":"hikiapp","portfolio_url":"https://www.hikiapp.com","bio":"The
        digital unifier for the Autistic and Neurodivergent community.","location":null,"links":{"self":"<API_URI>users/hikiapp","html":"<OAUTH_URI>@hikiapp","photos":"<API_URI>users/hikiapp/photos","likes":"<API_URI>users/hikiapp/likes","portfolio":"<API_URI>users/hikiapp/portfolio","following":"<API_URI>users/hikiapp/following","followers":"<API_URI>users/hikiapp/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1686056471378-fab93607fd8bimage?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1686056471378-fab93607fd8bimage?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1686056471378-fab93607fd8bimage?ixlib=rb-4.0.3\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"hikiapp
        ","total_collections":0,"total_likes":0,"total_photos":30,"accepted_tos":true,"for_hire":false,"social":{"instagram_username":"hikiapp
        ","portfolio_url":"https://www.hikiapp.com","twitter_username":"hikiapp","paypal_email":null}},"tags":[{"type":"search","title":"dog
        lover"},{"type":"search","title":"aspergers"},{"type":"search","title":"community"}]},{"id":"Sg3XwuEpybU","slug":"Sg3XwuEpybU","created_at":"2019-03-08T14:04:22Z","updated_at":"2023-09-03T21:06:10Z","promoted_at":"2019-03-11T10:12:41Z","width":3742,"height":6000,"color":"#402626","blur_hash":"LKF=s[8_Os%MO[IAWrxu?^Mx-:tR","description":"Happy
        Women’s Day!","alt_description":"yellow Labrador retriever biting yellow tulip
        flower","breadcrumbs":[],"urls":{"raw":"https:/[...]
[...]
- request:
    method: get
    uri: "<API_URI>search/photos?content_filter=low&orientation=portrait&page=1&per_page=3&query=dog"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID <ACCESS_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.c[...]
- request:
    method: get
    uri: "<API_URI>photos/random?content_filter=low"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID <ACCESS_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"43964bf2560ab9d7b0132606357d2742"
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-[...]
- request:
    method: get
    uri: "<API_URI>photos/random?content_filter=low&username=bigfoot_aint_real_either"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID <ACCESS_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4989'
    body:
      encoding: UTF-8
      string: '{"errors":["Couldn''t find User"]}'
  recorded_at: Mon, 04 Sep 2023 07:09:35 GMT
- request:
    method: get
    uri: "<API_URI>photos/random?content_filter=low&orientation=landscape"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID <ACCESS_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Content-Language:
      - en
      Etag:
      - W/"e0e8a0f9b4b4ae2cbe9764d08a3330e1"
      X-Ratelimit-Limit:
      - '50[...]
