---
http_interactions:
- request:
    method: get
    uri: "<API_URI>photos/random"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID <ACCESS_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '100'
    body:
      encoding: UTF-8
      string: '{"id":"LIHoumDou1I","created_at":"2019-03-09T07:56:32-05:00","updated_at":"2019-03-13T05:56:09-04:00","width":4896,"height":3264,"color":"#212123","description":null,"alt_description":"inline
        chairs placed against walls of hallway","urls":{"raw":"https://images.unsplash.com/photo-1552135786-8f23dbaa52cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEwOTJ9","full":"https://images.unsplash.com/photo-1552135786-8f23dbaa52cb?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjEwOTJ9","regular":"https://images.unsplash.com/photo-1552135786-8f23dbaa52cb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEwOTJ9","small":"https://images.unsplash.com/photo-1552135786-8f23dbaa52cb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjEwOTJ9","thumb":"https://images.unsplash.com/photo-1552135786-8f23dbaa52cb?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&ixid=eyJhcHBfaWQiOjEwOTJ9"},"links":{"self":"<API_URI>photos/LIHoumDou1I","html":"<OAUTH_URI>photos/LIHoumDou1I","download":"<OAUTH_URI>photos/LIHoumDou1I/download","download_location":"<API_URI>photos/LIHoumDou1I/download"},"categories":[],"sponsored":false,"sponsored_by":null,"sponsored_impressions_id":null,"likes":22,"liked_by_user":false,"current_user_collections":[],"user":{"id":"cSMJ-DVonO0","updated_at":"2019-03-19T17:47:37-04:00","username":"nilsschirmer","name":"Nils
        Schirmer","first_name":"Nils","last_name":"Schirmer","twitter_username":"nilsschirmer","portfolio_url":"https://wolfgangson.com/","bio":"just
        a regular guy with four eyes and a camera.","location":"Berlin","links":{"self":"<API_URI>users/nilsschirmer","html":"<OAUTH_URI>@nilsschirmer","photos":"<API_URI>users/nilsschirmer/photos","likes":"<API_URI>users/nilsschirmer/likes","portfolio":"<API_URI>users/nilsschirmer/portfolio","following":"<API_URI>users/nilsschirmer/following","followers":"<API_URI>users/nilsschirmer/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-fb-1488124932-25b268c8de45.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32","medium":"https://images.unsplash.com/profile-fb-1488124932-25b268c8de45.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64","large":"https://images.unsplash.com/profile-fb-1488124932-25b268c8de45.jpg?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128"},"instagram_username":"n1l5","total_collections":2,"total_likes":10,"total_photos":21,"accepted_tos":true},"exif":{"make":"FUJIFILM","model":"X100S","exposure_time":"1/80","aperture":"4.0","focal_length":"23.0","iso":400},"views":171720,"downloads":611}'
  recorded_at: Tue, 19 Mar 2019 23:00:15 GMT
- request:
    method: get
    uri: "<API_URI>photos/random?username=bigfoot_aint_real_either"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID <ACCESS_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '100'
    body:
      encoding: UTF-8
      string: '{"errors":["Couldn''t find User"]}'
  recorded_at: Tue, 19 Mar 2019 23:00:15 GMT
- request:
    method: get
    uri: "<API_URI>photos/random?orientation=landscape"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID <ACCESS_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '100'
    body:
      encoding: UTF-8
      string: '{"id":"D-dK8AeFMnM","created_at":"2019-03-16T23:00:22-0[...]
- request:
    method: get
    uri: "<API_URI>photos/tAKXap853rY"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID <ACCESS_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '100'
    body:
      encoding: UTF-8
      string: '{"id":"tAKXap853rY","created_at":"2013-05-27T09:57:48-04:00","updated_at[...]
- request:
    method: get
    uri: "<API_URI>photos/abc123"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID <ACCESS_KEY>
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '100'
    body:
      encoding: UTF-8
      string: '{"errors":["Couldn''t find Photo"]}'
  recorded_at: Tue, 19 Mar 2019 23:00:26 GMT
- request:
    method: post
    uri: "<API_URI>photos/abc123/like"
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Client-ID <ACCESS_KEY>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '100'
    body:
      encoding: UTF-8
      string: '{"errors":["OAuth error: The access token is invalid"]}'
  recorded_at: Tue, 19 Mar 2019 23:00:26 GMT
- request:
    method: get
    uri: "<API_URI>/photos/tAKXap853rY"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Bearer b11d5f7f0280a7d5fc21dc6aa3503fa454579e1a3aea2e34e01df05b7fb4768b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '100'
    body:
      encoding: UTF-8
      string: '{"id":"tAKXap853rY","created_at":"2013-05-27T09:57:48-04:00","updated_at":"2019-03-04T00:32:18-05:00","width":5616,"height":3744,"color":"#755[...]
- request:
    method: post
    uri: "<API_URI>/photos/tAKXap853rY/like"
    body:
      encoding: UTF-8
      string: ''
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Bearer b11d5f7f0280a7d5fc21dc6aa3503fa454579e1a3aea2e34e01df05b7fb4768b
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '100'
    body:
      encoding: UTF-8
      string: '{"photo":{"id":"tAKXap853rY","created_at":"2013-05-27T09:57:48-04:00","updated_at":"2019-03-04T00:32:18-05:00","width":5616,"height":3744,"color":"#755D47","description":"Hazy
        workspace","alt_description":"photo of turn-off MacBook Air on table","urls":{"raw":"https://unsplash.imgix.net/1/macbook-air-all-faded-and-stuff.jpg?ixlib=rb-1.2.1","full":"https://unsplash.imgix.net/1/macbook-air-all-faded-and-stuff.jpg?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb","regular":"https://unsplash.imgix.net[...]
- request:
    method: get
    uri: "<API_URI>photos/?order_by=latest&page=1&per_page=6"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID <ACCESS_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <<API_URI>photos?order_by=latest&page=17754&per_page=6>; rel="last", <<API_URI>photos?order_by=latest&page=2&per_page=6>;
        rel="next"
      X-Total:
      - '106519'
      X-Per-Page:
      - '6'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '100'
    body:
      encoding: UTF-8
      string: '[{"id":"pH6vl8AHOjI","created_at":"2019-03-02T11:23:42-05:00","updated_at":"2019-03-04T04:22:21-05:00","width":6000,"height":4000,"color":"#E39C28","description":null,"urls":{"raw":"https://unsplash.imgix.net/photo-1551543758-1dd527f4190b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEwOTJ9","full":"https://unsplash.imgix.n[...]
- request:
    method: get
    uri: "<API_URI>photos/?order_by=oldest&page=1&per_page=6"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID <ACCESS_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <<API_URI>photos?order_by=oldest&page=17754&per_page=6>; rel="last", <<API_URI>photos?order_by=oldest&page=2&per_page=6>;
        rel="next"
      X-Total:
      - '106519'
      X-Per-Page:
      - '6'
[...]
- request:
    method: get
    uri: http://api.staging.unsplash.com/photos/tAKXap853rY/download
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID <ACCESS_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - max-age=2400, stale-if-error=3600
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '100'
    body:
      encoding: UTF-8
      string: '{"url":"https://unsplash.imgix.net/1/macbook-air-all-faded-and-stuff.jpg?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb"}'
  recorded_at: Tue, 19 Mar 2019 23:00:27 GMT
- request:
    method: get
    uri: "<API_URI>search/photos?page=1&per_page=3&query=dog"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID <ACCESS_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <<API_URI>search/photos?page=5050&per_page=3&query=dog>; rel="last", <<API_URI>search/photos?page=2&per_page=3&query=dog>;
        rel="next"
      X-Total:
      - '15149'
      X-Per-Page:
      - '3'
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '100'
    body:
      encoding: UTF-8
      string: '{"total":15149,"total_pages":5050,"results":[{"id":"ngqyo2AYYnE","created_at":"2017-10-04T15:49:27-04:00","updated_at":"2019-02-22T17:32:38-05:00","width":5184,"height":3456,"color":"#F9F7F3","description":"selective
        focus photography of short-coated brown puppy facing right side","alt_description":"selective
        focus photography of short-coated brown puppy facing right side","urls":{"raw":"https://unsplash.imgix.net/photo-1507146426996-ef05306b995a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEwOTJ9","full":"https://unsplash.imgix.net/[...]
- request:
    method: get
    uri: "<API_URI>search/photos?orientation=portrait&page=1&per_page=3&query=dog"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID <ACCESS_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <<API_URI>search/photos?orientation=portrait&page=1640&per_page=3&query=dog>;
        rel="last", <<API_URI>search/photos?orientation=portrait&page=2&per_page=3&query=dog>;
        r[...]
[...]
- request:
    method: delete
    uri: "<API_URI>photos/abc123/like"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID <ACCESS_KEY>
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '100'
    body:
      encoding: UTF-8
      string: '{"errors":["OAuth error: The access token is invalid"]}'
  recorded_at: Tue, 19 Mar 2019 23:00:28 GMT
recorded_with: VCR 3.0.3
