---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/stats/total
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"957c050f6b8d03eba2ca48eb005cd62e"
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9841'
    body:
      encoding: UTF-8
      string: '{"total_photos": 373132, "photo_downloads": 265475445, "photos": 373132, "downloads": 265475445, "views": 38628516221, "likes": 7020656, "photographers": 62861, "pixels": 5414747434353, "downloads_per_second": 8, "views_per_second": 1904, "developers": 20974, "applications": 1226, "requests": 4591220993 }'
  recorded_at: Fri, 08 Dec 2017 18:49:38 GMT
recorded_with: VCR 3.0.3
