---
http_interactions:
- request:
    method: put
    uri: http://api.lvh.me:3000/me?last_name=Jangly
    body:
      encoding: UTF-8
      string: ''
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Bearer 69cca388c56e64fc2ee1c9f7cfb0dcec1bf1b384957b61c9ec6764777b98554e
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - max-age=300, stale-if-error=86400
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9863'
    body:
      encoding: UTF-8
      string: '{"uid":"OuzxrCITLj8","id":"OuzxrCITLj8","updated_at":"2017-12-08T13:45:17-05:00","numeric_id":7283,"username":"aarondev","name":"Aaron
        Jangly","first_name":"Aaron","last_name":"Jangly","twitter_username":"devdontlook","portfolio_url":"http://www.outerspacehero.com/","bio":"Buildin''
        Unsplash.","location":"Winnipeg","total_likes":-1,"total_photos":0,"total_collections":6,"followed_by_user":false,"following_count":7,"followers_count":6,"downloads":0,"profile_image":{"small":"https://images.unsplash.com/profile-1444840959767-6286d046f7f2?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32&s=22f6c0eb41fdde56243490f28ec4fd83","medium":"https://images.unsplash.com/profile-1444840959767-6286d046f7f2?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64&s=eb8099ecbd4604898d124fca2294ad89","large":"https://images.unsplash.com/profile-1444840959767-6286d046f7f2?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128&s=62302f77a88e7ee259c72a38323709c1"},"photos":[],"completed_onboarding":true,"uploads_remaining":7,"instagram_username":"aaronklaassen","email":"aaron@unsplash.com","badge":{"title":"Unsplash
        Team","primary":true,"slug":"team","link":"https://unsplash.com/hiring"},"tags":{"custom":[],"aggregated":[]},"links":{"self":"http://api.localhost:3000/users/aarondev","html":"http://lvh.me:3000/@aarondev","photos":"http://api.localhost:3000/users/aarondev/photos","likes":"http://api.localhost:3000/users/aarondev/likes","portfolio":"http://api.localhost:3000/users/aarondev/portfolio","following":"http://api.localhost:3000/users/aarondev/following","followers":"http://api.localhost:3000/users/aarondev/followers"}}'
  recorded_at: Fri, 08 Dec 2017 18:49:00 GMT
- request:
    method: put
    uri: http://api.lvh.me:3000/me?last_name=Jangly
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9862'
    body:
      encoding: UTF-8
      string: '{"errors":["OAuth error: The access token is invalid"],"trace":["/Users/aaron/source/unsplash/unsplash-api/app/api/unsplash_api/v1/oauth_custom.rb:33:in
        `check_scopes''","/Users/aaron/source/unsplash/unsplash-api/app/api/unsplash_api/v1/oauth_custom.rb:16:in
        `doorkeeper_authorize!''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/bundler/gems/wine_bouncer-e9e48f48f614/lib/wine_bouncer/oauth2.rb:91:in
        `before''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/grape-0.19.2/lib/grape/middleware/base.rb:29:in
        `call!''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/grape-0.19.2/lib/grape/middleware/base.rb:24:in
        `call''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/newrelic_rpm-3.18.0.329/lib/new_relic/agent/instrumentation/middleware_tracing.rb:96:in
        `call''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/grape-0.19.2/lib/grape/middleware/error.rb:34:in
        `block in call!''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/grape-0.19.2/lib/grape/middleware/error.rb:33:in
        `catch''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/grape-0.19.2/lib/grape/middleware/error.rb:33:in
        `call!''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/grape-0.19.2/lib/grape/middleware/base.rb:24:in
        `call''"]}'
  recorded_at: Fri, 08 Dec 2017 18:49:00 GMT
- request:
    method: get
    uri: http://api.lvh.me:3000/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Bearer 69cca388c56e64fc2ee1c9f7cfb0dcec1bf1b384957b61c9ec6764777b98554e
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - max-age=7200, stale-if-error=86400
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10000'
      X-Rateli[...]
[...]
- request:
    method: get
    uri: http://api.lvh.me:3000/users/crew
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - max-age=900, stale-if-error=86400
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - [...]
- request:
    method: get
    uri: http://api.lvh.me:3000/users/crew/collections?page=1&per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://api.lvh.me:3000/users/crew/collections?page=6&per_page=10>; rel="last",
        <http://api.lvh.me:3000/users/crew/collections?page=2&per_page=10>; rel="next"
      X-Total:
      - '52'
      X-Per-Page:
      - '10'
      Surrogate-Control:
      - max-age=900, stale-if-error=86400
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9858'
    body:
      encoding: UTF-8
      string: '[{"id":204744,"title":"Crew Collective & Café","description":"A new
        award-winning creative workspace for Montreal makers, artists, and entrepreneurs.","published_at":"2016-04-26T15:42:33-04:00","updated_at":"2016-12-14T17:01:59-05:00","curated":false,"featured":false,"total_photos":59,"private":false,"share_key":"5a9d5fbd7992338cd2d526b571fc7404","tags":[],"cover_photo":{"id":"-3can7MahTA","created_at":"2016-04-26T15:39:25-04:00","updated_at":"2017-08-08T21:23:39-04:00","width":4000,"height":3100,"color":"#F3F5F1","likes":57,"liked_by_user":false,"description":null,"user":{"id":"eUO1o53muso","updated_at":"2017-08-10T16:52:42-04:00","username":"crew","name":"Crew","first_name":"Crew","last_name":null,"twitter_username":"crewlabs","portfolio_url":"https://crew.co","bio":null,"location":"Montreal","total_likes":0,"total_photos":74,"total_collections":52,"profile_image":{"small":"https://images.unsplash.com/profile-1472177817227-a0ca6d7cbea6?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=32&w=32&s=695c84d3a69b4ed0307849da3d078827","medium":"https://images.unsplash.com/profile-1472177817227-a0ca6d7cbea6?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=64&w=64&s=7ada5e3506a4086ea7567c4727eaca31","large":"https://images.unsplash.com/profile-1472177817227-a0ca6d7cbea6?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&fit=crop&h=128&w=128&s=78eb85f020755c50bb61046b1813c00d"},"links":{"self":"http://api.localhost:3000/users/crew","html":"http://lvh.me:3000/@crew","photos":"http://api.localhost:3000/users/crew/photos","likes":"http://api.localhost:3000/users/crew/likes","portfolio":"http://api.localhost:3000/users/crew/portfolio","following":"http://api.localhost:3000/users/crew/following","followers":"http://api.localhost:3000/users/crew/followers"}},"urls":{"raw":"https://images.unsplash.com/photo-1461699500101-ff89748e4051","full":"https://images.unsplash.com/photo-1461699500101-ff89748e4051?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&s=741cfbd16681fef295bc68c930037171","regular":"https://images.unsplash.com/photo-1461699500101-ff89748e4051?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=9b236615e192effa2e32b29e4393d9b9","small":"https://images.unsplash.com/photo-1461699500101-ff89748e4051?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&s=4a5c95f9de3ebaa66ded037fe6b1ea46","thumb":"https://images.unsplash.com/photo-1461699500101-ff89748e4051?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=200&fit=max&s=10a9a4592b518047482aa11ede6c739d"},"categories":[],"links":{"self":"http://api.localhost:3000/photos/-3can7MahTA","html":"http://lvh.me:3000/photos/-3can7MahTA","download":"http://lvh.me:3000/photos/-3can7MahTA/download","download_location":"http://api.localhost:3000/photos/-3can7MahTA/download"}},"preview_photos":[{"id":87225,"urls":{"raw":"https://images.unsplash.com/photo-1461699500101-ff89748e4051","full":"https://images.unsplash.com/photo-1461699500101-ff89748e4051?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&s=741cfbd16681fef295bc68c930037171","regular":"https://images.unsplash.com/photo-1461699500101-ff89748e4051?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=9b236615e192effa2e32b29e4393d9b9","small":"https://images.unsplash.com/photo-1461699500101-ff89748e4051?ixlib=rb-0.3[...]
- request:
    method: get
    uri: http://api.lvh.me:3000/users/mago
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - max-age=900, stale-if-error=86400
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - [...]
- request:
    method: get
    uri: http://api.lvh.me:3000/users/mago/collections?page=1&per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Total:
      - '0'
      X-Per-Page:
      - '10'
      Surrogate-Control:
      - max-age=900, stale-if-error=86400
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9856'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 08 Dec 2017 18:49:06 GMT
- request:
    method: get
    uri: http://api.lvh.me:3000/users/aarondev
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - max-age=900, stale-if-error=86400
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
    [...]
- request:
    method: get
    uri: http://api.lvh.me:3000/users/santa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9854'
    body:
      encoding: UTF-8
      string: '{"errors":["Couldn''t find User"],"trace":["/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/activerecord-4.2.7.1/lib/active_record/core.rb:196:in
        `find_by!''","/Users/aaron/source/unsplash/unsplash-api/app/api/unsplash_api/v1/defaults.rb:170:in
        `find_active_user!''","/Users/aaron/source/unsplash/unsplash-api/app/api/unsplash_api/v1/users.rb:20:in
        `block (3 levels) in <class:Users>''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/grape-0.19.2/lib/grape/endpoint.rb:59:in
        `call''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/grape-0.19.2/lib/grape/endpoint.rb:59:in
        `block (2 levels) in generate_api_method''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/activesupport-4.2.7.1/lib/active_support/notifications.rb:166:in
        `instrument''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/grape-0.19.2/lib/grape/endpoint.rb:58:in
        `block in generate_api_method''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/grape-0.19.2/lib/grape/endpoint.rb:262:in
        `block in run''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/activesupport-4.2.7.1/lib/active_support/notifications.rb:166:in
        `instrument''","/Users/aaron/.rvm/gems/ruby-2.3.0@unsplash/gems/grape-0.19.2/lib/grape/endpoint.rb:240:in
        `run''"]}'
  recorded_at: Fri, 08 Dec 2017 18:49:06 GMT
- request:
    method: get
    uri: http://api.lvh.me:3000/users/lukechesser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      Surrogate-Control:
      - max-age=900, stale-if-error=86400
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
 [...]
- request:
    method: get
    uri: http://api.lvh.me:3000/users/lukechesser/photos?page=1&per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Total:
      - '8'
      X-Per-Page:
      - '10'
      Surrogate-Control:
      - max-age=900, stale-if-error=86400
      Content-Type:
      - appl[...]
- request:
    method: get
    uri: http://api.lvh.me:3000/users/aarondev/photos?page=1&per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Total:
      - '0'
      X-Per-Page:
      - '10'
      Surrogate-Control:
      - max-age=900, stale-if-error=86400
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9851'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 08 Dec 2017 18:49:07 GMT
- request:
    method: get
    uri: http://api.lvh.me:3000/users/lukechesser/likes?page=1&per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Total:
      - '0'
      X-Per-Page:
      - '10'
      Surrogate-Control:
      - max-age=900, stale-if-error=86400
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9850'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 08 Dec 2017 18:49:07 GMT
- request:
    method: get
    uri: http://api.lvh.me:3000/users/aarondev/likes?page=1&per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <http://api.lvh.me:3000/users/aarondev/likes?page=4&per_page=10>; rel="last",
        <http://api.lvh.me:3000/users/aarondev/likes?page=2&per[...]
- request:
    method: get
    uri: http://api.lvh.me:3000/search/users?page=1&per_page=2&query=ches
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Total:
      - '2'
      X-Per-Page:
      - '2'
      Surrogate-Control:
      - max-age=86400, stale-if-error=86400
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9848'
    body:
      encoding: UTF-8
      string: '{"total":2,"total_pages":1,"results":[{"id":"ILOeZKabPhQ","updated_at":"2016-04-19T12:58:44-04:00","username":"chesallenpdx","name":"Ches
        Allen","first_name":"Ches","last_name":"Allen","twitter_username":null,"portfolio_url":null,"bio":null,"location":null,"links":{"self":"http://api.localhost:3000/users/chesallenpdx","html":"http://lvh.me:3000/@chesallenpdx","photos":"http://api.localhost:3000/users/chesallenpdx/photos","likes":"http://api.localhost:3000/users/chesallenpdx/likes","portfolio":"http://api.localhost:3000/user[...]
- request:
    method: get
    uri: http://api.lvh.me:3000/search/users?page=1&per_page=10&query=veryveryspecific
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Total:
      - '0'
      X-Per-Page:
      - '10'
      Surrogate-Control:
      - max-age=86400, stale-if-error=86400
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '10000'
      X-Ratelimit-Remaining:
      - '9847'
    body:
      encoding: UTF-8
      string: '{"total":0,"total_pages":0,"results":[]}'
  recorded_at: Fri, 08 Dec 2017 18:49:08 GMT
[...]
