---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/users/aarondev
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"20c84f646c13eea0e5935fe89a539a2e"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '986'
    body:
      encoding: UTF-8
      string: '{"username":"aarondev","first_name":"James","last_name":"Developer","portfolio_url":null,"links":{"self":"http://api.lvh.me:3000/users/aarondev","html":"http://lvh.me:3000/aarondev","photos":"http://api.lvh.me:3000/users/aarondev/photos"}}'
  recorded_at: Mon, 22 Jun 2015 17:00:13 GMT
- request:
    method: get
    uri: http://api.lvh.me:3000/users/lukechesser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2ee1c3c3411bcd99feabeb44b17a82f5"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '981'
    body:
      encoding: UTF-8
      string: '{"username":"lukechesser","first_name":"Luke","last_name":"Chesser","portfolio_url":"http://imluke.me/","links":{"self":"http://api.lvh.me:3000/users/lukechesser","html":"http://lvh.me:3000/lukechesser","photos":"http://api.lvh.me:3000/users/lukechesser/photos"}}'
  recorded_at: Mon, 22 Jun 2015 17:14:42 GMT
- request:
    method: get
    uri: http://api.lvh.me:3000/users/lukechesser/photos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      X-Total:
      - '8'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      Etag:
      - W/"7be0d4221511adaaab59fa75b207f586"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '980'
    body:
      encoding: UTF-8
      string: '[{"id":"Dwu85P9SOIk","urls":{"regular":"https://ununsplash.imgix.net/photo-1417325384643-aac51acc9e5d?q=75\u0026fm=jpg\u0026w=1080\u0026fit=max\u0026s=0e9069731c9386b1c665ea05932be946","small":"https://ununsplash.imgix.net/photo-1417325384643-aac51acc9e5d?q=75\u0026fm=jpg\u0026w=400\u0026fit=max\u0026s=d7d8a0260ef8a3de351d074f4b2253ec","thumb":"https://ununsplash.imgix.net/photo-1417325384643-aac51acc9e5d?q=75\u0026fm=jpg\u0026w=200\u0026fit=max\u0026s=aff12c4500b8d7fb6d14900cb1f3088f"},"links":{"self":"http://api.lvh.me:3000/photos/Dwu85P9SOIk","html":"http://lvh.me:3000/photos/Dwu85P9SOIk","download":"http://lvh.me:3000/photos/Dwu85P9SOIk/download"}},{"id":"a2NRu2Wxa2o","urls":{"regular":"https://unsplash.imgix.net/photo-1414690165279-49ab0a9a7e66?q=75\u0026fm=jpg\u0026w=1080\u0026fit=max\u0026s=03ef7f8cfe1b6acb063ea3248d716f36","small":"https://unsplash.imgix.net/photo-1414690165279-49ab0a9a7e66?q=75\u0026fm=jpg\u0026w=400\u0026fit=max\u0026s=87b99395d0fd568cdc4ff21baaea4ace","thumb":"https://unsplash.imgix.net/photo-1414690165279-49ab0a9a7e66?q=75\u0026fm=jpg\u0026w=200\u0026fit=max\u0026s[...]
- request:
    method: get
    uri: http://api.lvh.me:3000/users/aarondev/photos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      X-Total:
      - '0'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      Etag:
      - W/"d751713988987e9331980363e24189ce"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '979'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 22 Jun 2015 17:15:18 GMT
- request:
    method: get
    uri: http://api.lvh.me:3000/users/santa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 404
      message: 'Not Found '
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '975'
    body:
      encoding: UTF-8
      string: '{"errors":["Couldn''t find User"]}'
  recorded_at: Mon, 22 Jun 2015 17:58:48 GMT
- request:
    method: get
    uri: http://api.lvh.me:3000/me
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Bearer 69cca388c56e64fc2ee1c9f7cfb0dcec1bf1b384957b61c9ec6764777b98554e
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"7affa6259dd3f390a9aaadb9364a8c70"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '963'
    body:
      encoding: UTF-8
      string: '{"username":"aarondev","first_name":"James","last_name":"Developer","portfolio_url":null,"bio":null,"uploads_remaining":10,"instagram_username":"aaron-klaassen","location":null,"email":"aaron@example.com","links":{"self":"http://api.lvh.me:3000/users/aarondev","html":"http://lvh.me:3000/aarondev","photos":"http://api.lvh.me:3000/users/aarondev/photos"}}'
  recorded_at: Tue, 23 Jun 2015 21:42:33 GMT
[...]
- request:
    method: put
    uri: http://api.lvh.me:3000/me?last_name=Jangly
    body:
      encoding: UTF-8
      string: ''
    headers:
      Accept-Version:
      - v1
      Authorization:
      - Bearer 69cca388c56e64fc2ee1c9f7cfb0dcec1bf1b384957b61c9ec6764777b98554e
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2438aa1e296fa0b0d85d86edfaf0123d"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '980'
    body:
      encoding: UTF-8
      string: '{"username":"aarondev","first_name":"James","last_name":"Jangly","portfolio_url":null,"bio":null,"uploads_remaining":10,"instagram_username":"aaron-klaassen","location":null,"email":"aaron@example.com","links":{"self":"http://api.lvh.me:3000/users/aarondev","html":"http://lvh.me:3000/aarondev","photos":"http://api.lvh.me:3000/users/aarondev/photos"}}'
  recorded_at: Wed, 24 Jun 2015 15:31:45 GMT
[...]
- request:
    method: get
    uri: http://api.lvh.me:3000/users/aaron
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"57a206dcd605fd1635e88e6b3ff63481"
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '90'
      X-Miniprofiler-Ids:
      - '["bo0bk38xwk0vcoigzbm","ovt8hnd10a63lt2vbv6q","mr43bgnz079unxuz07q6","lds0eiio177yvzfa79ym","5r3uoxva2k75xdby9axb","q0y4e7tnctrsv21k10ap","bvbe3vfd0uw9gjp2gjs0","933p7ctag5vs96fce0l1","ol1u0unya7i59g380h5b","5lcp3zt85s2z92qiuauc"]'
    body:
      encoding: UTF-8
      string: '{"username":"aaron","first_name":"Aaron","last_name":"Klaassen","portfolio_url":"http://www.outerspacehero.com/","downloads":0,"links":{"self":"http://api.lvh.me:3000/users/aaron","html":"http://lvh.me:3000/aaron","photos":"http://api.lvh.me:3000/users/aaron/photos","likes":"http://api.lvh.me:3000/users/aaron/likes"}}'
  recorded_at: Mon, 19 Oct 2015 22:19:43 GMT
- request:
    method: get
    uri: http://api.lvh.me:3000/users/aaron/likes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      X-Total:
      - '4'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      Etag:
      - W/"5e1812b8a6ef7226fd29d19b64d09316"
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '89'
      X-Miniprofiler-Ids:
      - '["1jdu8qubfqnfd3v681ws","ovt8hnd10a63lt2vbv6q","mr43bgnz079unxuz07q6","lds0eiio177yvzfa79ym","5r3uoxva2k75xdby9axb","q0y4e7tnctrsv21k10ap","bvbe3vfd0uw9gjp2gjs0","933p7ctag5vs96fce0l1","ol1u0unya7i59g380h5b","5lcp3zt85s2z92qiuauc"]'
    body:
      encoding: UTF-8
      string: '[{"id":"OzwSX5jZ2ws","width":4592,"height":3448,"color":"#7D6824","user":{"id":"92CGoy4mdaE","username":"ingeli","name":"ingeli","links":{"self":"http://api.lvh.me:3000/users/ingeli","html":"http://lvh.me:3000/ingeli","photos":"http://api.lvh.me:3000/users/ingeli/photos","likes":"http://api.lvh.me:3000/users/ingeli/likes"}},"urls":{"full":"https://images.unsplash.com/photo-1442307813867-9342c0762f76?q=80\u0026fm=jpg\u0026s=03dea8d316efab47535d8c353233f81b","regular":"https://images.unsplash.com/photo-1442307813867-9342c0762f76?q=80\u0026fm=jpg\u0026w=1080\u0026fit=max\u0026s=9ebdbc9375279b46459fe54d0b5ea721","small":"https://images.unsplash.com/photo-1442307813867-9342c0762f76?q=80\u0026fm=jpg\u0026w=400\u0026fit=max\u0026s=7f009d636d89ee3a4fe7db3e6a8b438e","thumb":"https://images.unsplash.com/photo-1442307813867-9342c0762f76?q=8[...]
- request:
    method: get
    uri: http://api.lvh.me:3000/users/lukechesser/likes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      X-Total:
      - '0'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      Etag:
      - W/"d751713988987e9331980363e24189ce"
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '88'
      X-Miniprofiler-Ids:
      - '["azs66zme4mm11y1u2j1u","ovt8hnd10a63lt2vbv6q","mr43bgnz079unxuz07q6","lds0eiio177yvzfa79ym","5r3uoxva2k75xdby9axb","q0y4e7tnctrsv21k10ap","bvbe3vfd0uw9gjp2gjs0","933p7ctag5vs96fce0l1","ol1u0unya7i59g380h5b","5lcp3zt85s2z92qiuauc"]'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 19 Oct 2015 22:22:46 GMT
recorded_with: VCR 2.9.3
