---
http_interactions:
- request:
    method: get
    uri: http://api.lvh.me:3000/users/aarondev
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"20c84f646c13eea0e5935fe89a539a2e"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '986'
    body:
      encoding: UTF-8
      string: '{"username":"aarondev","first_name":"James","last_name":"Developer","portfolio_url":null,"links":{"self":"http://api.lvh.me:3000/users/aarondev","html":"http://lvh.me:3000/aarondev","photos":"http://api.lvh.me:3000/users/aarondev/photos"}}'
  recorded_at: Mon, 22 Jun 2015 17:00:13 GMT
- request:
    method: get
    uri: http://api.lvh.me:3000/users/lukechesser
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2ee1c3c3411bcd99feabeb44b17a82f5"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '981'
    body:
      encoding: UTF-8
      string: '{"username":"lukechesser","first_name":"Luke","last_name":"Chesser","portfolio_url":"http://imluke.me/","links":{"self":"http://api.lvh.me:3000/users/lukechesser","html":"http://lvh.me:3000/lukechesser","photos":"http://api.lvh.me:3000/users/lukechesser/photos"}}'
  recorded_at: Mon, 22 Jun 2015 17:14:42 GMT
- request:
    method: get
    uri: http://api.lvh.me:3000/users/lukechesser/photos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      X-Total:
      - '8'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      Etag:
      - W/"7be0d4221511adaaab59fa75b207f586"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '980'
    body:
      encoding: UTF-8
      string: '[{"id":"Dwu85P9SOIk","urls":{"regular":"https://ununsplash.imgix.net/photo-1417325384643-aac51acc9e5d?q=75\u0026fm=jpg\u0026w=1080\u0026fit=max\u0026s=0e9069731c9386b1c665ea05932be946","small":"https://ununsplash.imgix.net/photo-1417325384643-aac51acc9e5d?q=75\u0026fm=jpg\u0026w=400\u0026fit=max\u0026s=d7d8a0260ef8a3de351d074f4b2253ec","thumb":"https://ununsplash.imgix.net/photo-1417325384643-aac51acc9e5d?q=75\u0026fm=jpg\u0026w=200\u0026fit=max\u0026s=aff12c4500b8d7fb6d14900cb1f3088f"},"links":{"self":"http://api.lvh.me:3000/photos/Dwu85P9SOIk","html":"http://lvh.me:3000/photos/Dwu85P9SOIk","download":"http://lvh.me:3000/photos/Dwu85P9SOIk/download"}},{"id":"a2NRu2Wxa2o","urls":{"regular":"https://unsplash.imgix.net/photo-1414690165279-49ab0a9a7e66?q=75\u0026fm=jpg\u0026w=1080\u0026fit=max\u0026s=03ef7f8cfe1b6acb063ea3248d716f36","small":"https://unsplash.imgix.net/photo-1414690165279-49ab0a9a7e66?q=75\u0026fm=jpg\u0026w=400\u0026fit=max\u0026s=87b99395d0fd568cdc4ff21baaea4ace","thumb":"https://unsplash.imgix.net/photo-1414690165279-49ab0a9a7e66?q=75\u0026fm=jpg\u0026w=200\u0026fit=max\u0026s[...]
- request:
    method: get
    uri: http://api.lvh.me:3000/users/aarondev/photos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      X-Total:
      - '0'
      X-Per-Page:
      - '10'
      Content-Type:
      - application/json
      Etag:
      - W/"d751713988987e9331980363e24189ce"
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '979'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 22 Jun 2015 17:15:18 GMT
- request:
    method: get
    uri: http://api.lvh.me:3000/users/santa
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Client-ID baaa6a1214d50b3586bec6e06157aab859bd4d86dc0b755360f103f38974edc3
  response:
    status:
      code: 404
      message: 'Not Found '
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '975'
    body:
      encoding: UTF-8
      string: '{"error":"Couldn''t find User"}'
  recorded_at: Mon, 22 Jun 2015 17:58:48 GMT
recorded_with: VCR 2.9.3
